openapi: 3.1.0
info:
  title: Calendly Scheduling Activity Log API
  description: The Calendly Scheduling API (v2) is a RESTful API that allows developers to programmatically manage scheduling workflows. It provides endpoints for managing users, organizations, event types, scheduled events, invitees, routing forms, availability schedules, and webhook subscriptions. The API uses JSON for request and response bodies, standard HTTP methods, and supports authentication via personal access tokens and OAuth 2.1. Developers can use it to create events on behalf of invitees, retrieve scheduling data, and integrate Calendly functionality directly into their applications.
  version: 2.0.0
  contact:
    name: Calendly Developer Support
    url: https://developer.calendly.com/
  termsOfService: https://calendly.com/pages/terms
servers:
- url: https://api.calendly.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Activity Log
  description: Endpoints for retrieving activity log entries for an organization.
paths:
  /activity_log_entries:
    get:
      operationId: listActivityLogEntries
      summary: List activity log entries
      description: Returns a paginated list of activity log entries for the specified organization. Activity logs record actions taken by users within the organization.
      tags:
      - Activity Log
      parameters:
      - name: organization
        in: query
        required: true
        description: The URI of the organization whose activity log to retrieve.
        schema:
          type: string
          format: uri
      - name: min_occurred_at
        in: query
        description: Only return entries that occurred on or after this time.
        schema:
          type: string
          format: date-time
      - name: max_occurred_at
        in: query
        description: Only return entries that occurred before this time.
        schema:
          type: string
          format: date-time
      - name: search_term
        in: query
        description: Filter entries by a search term.
        schema:
          type: string
      - name: sort
        in: query
        description: Sort order for results.
        schema:
          type: string
      - $ref: '#/components/parameters/Count'
      - $ref: '#/components/parameters/PageToken'
      responses:
        '200':
          description: Successfully retrieved activity log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  collection:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityLogEntry'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication failed. Verify that a valid access token is provided in the Authorization header.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    Count:
      name: count
      in: query
      description: The number of results to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    PageToken:
      name: page_token
      in: query
      description: A token for fetching the next page of results from a previous paginated response.
      schema:
        type: string
  schemas:
    ActivityLogEntry:
      type: object
      description: An entry in the organization activity log recording an action taken by a user.
      properties:
        uri:
          type: string
          format: uri
          description: The canonical URI of the activity log entry.
        occurred_at:
          type: string
          format: date-time
          description: The timestamp when the activity occurred.
        organization:
          type: string
          format: uri
          description: The URI of the organization.
        actor:
          type: object
          description: The user who performed the action.
          properties:
            uri:
              type: string
              format: uri
              description: The URI of the actor.
            display_name:
              type: string
              description: The display name of the actor.
            organization:
              type: string
              format: uri
              description: The URI of the actors organization.
            type:
              type: string
              description: The type of actor.
        action:
          type: string
          description: The action that was performed.
        namespace:
          type: string
          description: The namespace or category of the action.
        details:
          type: object
          description: Additional details about the action.
    Pagination:
      type: object
      description: Pagination information for paginated list responses.
      properties:
        count:
          type: integer
          description: The number of results in the current page.
        next_page:
          type: string
          format: uri
          description: The URL of the next page of results, if available.
        previous_page:
          type: string
          format: uri
          description: The URL of the previous page of results, if available.
        next_page_token:
          type: string
          description: The token to fetch the next page of results.
        previous_page_token:
          type: string
          description: The token to fetch the previous page of results.
    Error:
      type: object
      description: An error response from the Calendly API.
      properties:
        title:
          type: string
          description: A short summary of the error.
        message:
          type: string
          description: A detailed description of the error.
        details:
          type: array
          items:
            type: object
            properties:
              parameter:
                type: string
                description: The parameter that caused the error.
              message:
                type: string
                description: A description of what was wrong with the parameter.
          description: Specific details about validation errors.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Personal access token or OAuth 2.1 access token. Include in the Authorization header as Bearer {token}.
externalDocs:
  description: Calendly API Documentation
  url: https://developer.calendly.com/api-docs
