{
  "openapi": "3.0.3",
  "info": {
    "title": "Catalog Products",
    "description": "Merchants can use the Catalog Products API to create products, which are goods and services.",
    "version": "1.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api-m.sandbox.paypal.com",
      "description": "PayPal Sandbox Environment"
    },
    {
      "url": "https://api-m.paypal.com",
      "description": "PayPal Live Environment"
    }
  ],
  "tags": [
    {
      "name": "products",
      "description": "Use `/products` resource to create and manage products."
    }
  ],
  "externalDocs": {
    "url": "https://developer.paypal.com/docs/api/catalog-products/v1/"
  },
  "paths": {
    "/v1/catalogs/products": {
      "post": {
        "summary": "Create product",
        "description": "Creates a product.",
        "operationId": "products.create",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows product details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/product"
                }
              }
            }
          },
          "201": {
            "description": "A successful request returns the HTTP `201 Created` status code and a JSON response body that shows product details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/product"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/products.create-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/prefer"
          },
          {
            "$ref": "#/components/parameters/paypal_request_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/product_request_POST"
              },
              "examples": {
                "product_request_POST": {
                  "value": {
                    "name": "Video Streaming Service",
                    "description": "Video streaming service",
                    "type": "SERVICE",
                    "category": "SOFTWARE",
                    "image_url": "https://example.com/streaming.jpg",
                    "home_url": "https://example.com/home"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["products"]
      },
      "get": {
        "summary": "List products",
        "description": "Lists products.",
        "operationId": "products.list",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that lists products with details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/product_collection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/total_required"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["products"]
      }
    },
    "/v1/catalogs/products/{product_id}": {
      "get": {
        "summary": "Show product details",
        "description": "Shows details for a product, by ID.",
        "operationId": "products.get",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows product details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/product"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["products"]
      },
      "patch": {
        "summary": "Update product",
        "description": "Updates a product, by ID. You can patch these attributes and objects:<table><thead><tr><th>Attribute or object</th><th>Operations</th></tr></thead><tbody><tr><td><code>description</code></td><td>add, replace, remove</td></tr><tr><td><code>category</code></td><td>add, replace, remove</td></tr><tr><td><code>image_url</code></td><td>add, replace, remove</td></tr><tr><td><code>home_url</code></td><td>add, replace, remove</td></tr></tbody></table>",
        "operationId": "products.patch",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400": {
            "description": "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/products.patch-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/products.patch-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch_request"
              },
              "examples": {
                "patch_request": {
                  "value": [
                    {
                      "op": "replace",
                      "path": "/description",
                      "value": "Premium video streaming service"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["products"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Oauth2": {
        "type": "oauth2",
        "description": "Oauth 2.0 authentication",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/v1/oauth2/token",
            "scopes": {
              "https://uri.paypal.com/services/subscriptions": "Create and manage products"
            }
          }
        }
      }
    },
    "responses": {
      "default": {
        "description": "The default response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error_default"
            }
          }
        }
      }
    },
    "schemas": {
      "400": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_PARAMETER_VALUE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PARAMETER_VALUE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The value of a field is invalid."]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "401": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_ACCOUNT_STATUS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_ACCOUNT_STATUS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Account validations failed for the user."]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "403": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "PERMISSION_DENIED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PERMISSION_DENIED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "You do not have permission to access or perform operations on this resource."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "404": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_RESOURCE_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_RESOURCE_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Specified resource ID does not exist. Please check the resource ID and try again."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "422": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "USER_ACCOUNT_CLOSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["USER_ACCOUNT_CLOSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["User account locked or closed."]
                    }
                  }
                },
                {
                  "title": "DUPLICATE_RESOURCE_IDENTIFIER",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["DUPLICATE_RESOURCE_IDENTIFIER"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Identifier must be unique."]
                    }
                  }
                },
                {
                  "title": "COUNTRY_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["COUNTRY_NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "This merchant country is not currently supported."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "date_time": {
        "type": "string",
        "description": "The date and time, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). Seconds are required while fractional seconds are optional.<blockquote><strong>Note:</strong> The regular expression provides guidance but does not reject all invalid dates.</blockquote>",
        "format": "ppaas_date_time_v3",
        "minLength": 20,
        "maxLength": 64,
        "pattern": "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])[T,t]([0-1][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)([.][0-9]+)?([Zz]|[+-][0-9]{2}:[0-9]{2})$"
      },
      "error_400": {
        "type": "object",
        "title": "Bad Request Error",
        "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
        "properties": {
          "name": {
            "type": "string",
            "enum": ["INVALID_REQUEST"]
          },
          "message": {
            "type": "string",
            "enum": [
              "Request is not well-formed, syntactically incorrect, or violates schema."
            ]
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/error_details"
            }
          },
          "debug_id": {
            "type": "string",
            "description": "The PayPal internal ID. Used for correlation purposes."
          },
          "links": {
            "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS).",
            "type": "array",
            "minItems": 0,
            "maxItems": 10000,
            "items": {
              "$ref": "#/components/schemas/error_link_description"
            }
          }
        }
      },
      "error_401": {
        "type": "object",
        "title": "Unauthorized Error",
        "description": "Authentication failed due to missing Authorization header, or invalid authentication credentials.",
        "properties": {
          "name": {
            "type": "string",
            "enum": ["AUTHENTICATION_FAILURE"]
          },
          "message": {
            "type": "string",
            "enum": [
              "Authentication failed due to missing authorization header, or invalid authentication credentials."
            ]
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/error_details"
            }
          },
          "debug_id": {
            "type": "string",
            "description": "The PayPal internal ID. Used for correlation purposes."
          },
          "links": {
            "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS).",
            "type": "array",
            "minItems": 0,
            "maxItems": 10000,
            "items": {
              "$ref": "#/components/schemas/error_link_description"
            }
          }
        }
      },
      "error_403": {
        "type": "object",
        "title": "Not Authorized Error",
        "description": "The client is not authorized to access this resource, although it may have valid credentials. ",
        "properties": {
          "name": {
            "type": "string",
            "enum": ["NOT_AUTHORIZED"]
          },
          "message": {
            "type": "string",
            "enum": ["Authorization failed due to insufficient permissions."]
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/error_details"
            }
          },
          "debug_id": {
            "type": "string",
            "description": "The PayPal internal ID. Used for correlation purposes."
          },
          "links": {
            "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS).",
            "type": "array",
            "minItems": 0,
            "maxItems": 10000,
            "items": {
              "$ref": "#/components/schemas/error_link_description"
            }
          }
        }
      },
      "error_404": {
        "type": "object",
        "title": "Not found Error",
        "description": "The server has not found anything matching the request URI. This either means that the URI is incorrect or the resource is not available.",
        "properties": {
          "name": {
            "type": "string",
            "enum": ["RESOURCE_NOT_FOUND"]
          },
          "message": {
            "type": "string",
            "enum": ["The specified resource does not exist."]
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/error_details"
            }
          },
          "debug_id": {
            "type": "string",
            "description": "The PayPal internal ID. Used for correlation purposes."
          },
          "links": {
            "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS).",
            "type": "array",
            "minItems": 0,
            "maxItems": 10000,
            "items": {
              "$ref": "#/components/schemas/error_link_description"
            }
          }
        }
      },
      "error_409": {
        "type": "object",
        "title": "Resource Conflict Error",
        "description": "The server has detected a conflict while processing this request.",
        "properties": {
          "name": {
            "type": "string",
            "enum": ["RESOURCE_CONFLICT"]
          },
          "message": {
            "type": "string",
            "enum": [
              "The server has detected a conflict while processing this request."
            ]
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/error_details"
            }
          },
          "debug_id": {
            "type": "string",
            "description": "The PayPal internal ID. Used for correlation purposes."
          },
          "links": {
            "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS).",
            "type": "array",
            "minItems": 0,
            "maxItems": 10000,
            "items": {
              "$ref": "#/components/schemas/error_link_description"
            }
          }
        }
      },
      "error_415": {
        "type": "object",
        "title": "Unsupported Media Type Error",
        "description": "The server does not support the request payload's media type.",
        "properties": {
          "name": {
            "type": "string",
            "enum": ["UNSUPPORTED_MEDIA_TYPE"]
          },
          "message": {
            "type": "string",
            "enum": [
              "The server does not support the request payload's media type."
            ]
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/error_details"
            }
          },
          "debug_id": {
            "type": "string",
            "description": "The PayPal internal ID. Used for correlation purposes."
          },
          "links": {
            "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS).",
            "type": "array",
            "minItems": 0,
            "maxItems": 10000,
            "items": {
              "$ref": "#/components/schemas/error_link_description"
            }
          }
        }
      },
      "error_422": {
        "type": "object",
        "title": "Unprocessable Entity Error",
        "description": "The requested action cannot be performed and may require interaction with APIs or processes outside of the current request. This is distinct from a 500 response in that there are no systemic problems limiting the API from performing the request.",
        "properties": {
          "name": {
            "type": "string",
            "enum": ["UNPROCESSABLE_ENTITY"]
          },
          "message": {
            "type": "string",
            "enum": [
              "The requested action could not be performed, semantically incorrect, or failed business validation."
            ]
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/error_details"
            }
          },
          "debug_id": {
            "type": "string",
            "description": "The PayPal internal ID. Used for correlation purposes."
          },
          "links": {
            "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS).",
            "type": "array",
            "minItems": 0,
            "maxItems": 10000,
            "items": {
              "$ref": "#/components/schemas/error_link_description"
            }
          }
        }
      },
      "error_500": {
        "type": "object",
        "title": "Internal Server Error",
        "description": "This is either a system or application error, and generally indicates that although the client appeared to provide a correct request, something unexpected has gone wrong on the server.",
        "properties": {
          "name": {
            "type": "string",
            "enum": ["INTERNAL_SERVER_ERROR"]
          },
          "message": {
            "type": "string",
            "enum": ["An internal server error occurred."]
          },
          "debug_id": {
            "type": "string",
            "description": "The PayPal internal ID. Used for correlation purposes."
          },
          "links": {
            "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS).",
            "type": "array",
            "minItems": 0,
            "maxItems": 10000,
            "items": {
              "$ref": "#/components/schemas/error_link_description"
            }
          }
        },
        "example": {
          "name": "INTERNAL_SERVER_ERROR",
          "message": "An internal server error occurred.",
          "debug_id": "90957fca61718",
          "links": [
            {
              "href": "https://developer.paypal.com/api/orders/v2/#error-INTERNAL_SERVER_ERROR",
              "rel": "information_link"
            }
          ]
        }
      },
      "error_503": {
        "type": "object",
        "title": "Service Unavailable Error",
        "description": "The server is temporarily unable to handle the request, for example, because of planned maintenance or downtime.",
        "properties": {
          "name": {
            "type": "string",
            "enum": ["SERVICE_UNAVAILABLE"]
          },
          "message": {
            "type": "string",
            "enum": ["Service Unavailable."]
          },
          "debug_id": {
            "type": "string",
            "description": "The PayPal internal ID. Used for correlation purposes."
          },
          "links": {
            "description": "An array of request-related [HATEOAS links](https://en.wikipedia.org/wiki/HATEOAS).",
            "type": "array",
            "minItems": 0,
            "maxItems": 10000,
            "items": {
              "$ref": "#/components/schemas/error_link_description"
            }
          }
        },
        "example": {
          "name": "SERVICE_UNAVAILABLE",
          "message": "Service Unavailable.",
          "debug_id": "90957fca61718",
          "information_link": "https://developer.paypal.com/docs/api/orders/v2/#error-SERVICE_UNAVAILABLE"
        }
      },
      "error_default": {
        "description": "The default error response.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/error_400"
          },
          {
            "$ref": "#/components/schemas/error_401"
          },
          {
            "$ref": "#/components/schemas/error_403"
          },
          {
            "$ref": "#/components/schemas/error_404"
          },
          {
            "$ref": "#/components/schemas/error_409"
          },
          {
            "$ref": "#/components/schemas/error_415"
          },
          {
            "$ref": "#/components/schemas/error_422"
          },
          {
            "$ref": "#/components/schemas/error_500"
          },
          {
            "$ref": "#/components/schemas/error_503"
          }
        ]
      },
      "error_details": {
        "title": "Error Details",
        "type": "object",
        "description": "The error details. Required for client-side `4XX` errors.",
        "properties": {
          "field": {
            "type": "string",
            "description": "The field that caused the error. If this field is in the body, set this value to the field's JSON pointer value. Required for client-side errors."
          },
          "value": {
            "type": "string",
            "description": "The value of the field that caused the error."
          },
          "location": {
            "$ref": "#/components/schemas/error_location"
          },
          "issue": {
            "type": "string",
            "description": "The unique, fine-grained application-level error code."
          },
          "description": {
            "type": "string",
            "description": "The human-readable description for an issue. The description can change over the lifetime of an API, so clients must not depend on this value."
          }
        },
        "required": ["issue"]
      },
      "error_link_description": {
        "title": "Link Description",
        "description": "The request-related [HATEOAS link](/api/rest/responses/#hateoas-links) information.",
        "type": "object",
        "required": ["href", "rel"],
        "properties": {
          "href": {
            "description": "The complete target URL. To make the related call, combine the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570) link. For pre-processing, include the `$`, `(`, and `)` characters. The `href` is the key HATEOAS component that links a completed call with a subsequent call.",
            "type": "string",
            "minLength": 0,
            "maxLength": 20000,
            "pattern": "^.*$"
          },
          "rel": {
            "description": "The [link relation type](https://tools.ietf.org/html/rfc5988#section-4), which serves as an ID for a link that unambiguously describes the semantics of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml).",
            "type": "string",
            "minLength": 0,
            "maxLength": 100,
            "pattern": "^.*$"
          },
          "method": {
            "description": "The HTTP method required to make the related call.",
            "type": "string",
            "minLength": 3,
            "maxLength": 6,
            "pattern": "^[A-Z]*$",
            "enum": ["GET", "POST", "PUT", "DELETE", "PATCH"]
          }
        }
      },
      "error_location": {
        "type": "string",
        "description": "The location of the field that caused the error. Value is `body`, `path`, or `query`.",
        "enum": ["body", "path", "query"],
        "default": "body"
      },
      "link_description": {
        "type": "object",
        "title": "Link Description",
        "description": "The request-related [HATEOAS link](/docs/api/reference/api-responses/#hateoas-links) information.",
        "required": ["href", "rel"],
        "properties": {
          "href": {
            "type": "string",
            "description": "The complete target URL. To make the related call, combine the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570) link. For pre-processing, include the `$`, `(`, and `)` characters. The `href` is the key HATEOAS component that links a completed call with a subsequent call."
          },
          "rel": {
            "type": "string",
            "description": "The [link relation type](https://tools.ietf.org/html/rfc5988#section-4), which serves as an ID for a link that unambiguously describes the semantics of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml)."
          },
          "method": {
            "type": "string",
            "description": "The HTTP method required to make the related call.",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE",
              "HEAD",
              "CONNECT",
              "OPTIONS",
              "PATCH"
            ]
          }
        }
      },
      "link_description_list": {
        "type": "array",
        "description": "An array of request-related [HATEOAS links](/docs/api/overview/#hateoas-links).",
        "readOnly": true,
        "items": {
          "$ref": "#/components/schemas/link_description"
        }
      },
      "patch": {
        "type": "object",
        "title": "Patch",
        "description": "The JSON patch object to apply partial updates to resources.",
        "properties": {
          "op": {
            "type": "string",
            "description": "The operation.",
            "x-enumDescriptions": [
              {
                "value": "add",
                "description": "Depending on the target location reference, completes one of these functions:<ul><li><strong>The target location is an array index</strong>. Inserts a new value into the array at the specified index.</li><li><strong>The target location is an object parameter that does not already exist</strong>. Adds a new parameter to the object.</li><li><strong>The target location is an object parameter that does exist</strong>. Replaces that parameter's value.</li></ul>The <code>value</code> parameter defines the value to add. For more information, see <a href=\"https://tools.ietf.org/html/rfc6902#section-4.1\">4.1. add</a>."
              },
              {
                "value": "remove",
                "description": "Removes the value at the target location. For the operation to succeed, the target location must exist. For more information, see <a href=\"https://tools.ietf.org/html/rfc6902#section-4.2\">4.2. remove</a>."
              },
              {
                "value": "replace",
                "description": "Replaces the value at the target location with a new value. The operation object must contain a <code>value</code> parameter that defines the replacement value. For the operation to succeed, the target location must exist. For more information, see <a href=\"https://tools.ietf.org/html/rfc6902#section-4.3\">4.3. replace</a>."
              },
              {
                "value": "move",
                "description": "Removes the value at a specified location and adds it to the target location. The operation object must contain a <code>from</code> parameter, which is a string that contains a JSON pointer value that references the location in the target document from which to move the value. For the operation to succeed, the <code>from</code> location must exist. For more information, see <a href=\"https://tools.ietf.org/html/rfc6902#section-4.4\">4.4. move</a>."
              },
              {
                "value": "copy",
                "description": "Copies the value at a specified location to the target location. The operation object must contain a <code>from</code> parameter, which is a string that contains a JSON pointer value that references the location in the target document from which to copy the value. For the operation to succeed, the <code>from</code> location must exist. For more information, see <a href=\"https://tools.ietf.org/html/rfc6902#section-4.5\">4.5. copy</a>."
              },
              {
                "value": "test",
                "description": "Tests that a value at the target location is equal to a specified value. The operation object must contain a <code>value</code> parameter that defines the value to compare to the target location's value. For the operation to succeed, the target location must be equal to the <code>value</code> value. For test, <code>equal</code> indicates that the value at the target location and the value that <code>value</code> defines are of the same JSON type. The data type of the value determines how equality is defined:<table><thead align=\"left\"><tr><th>Type</th><th>Considered equal if both values</th></tr></thead><tbody align=\"left\"><tr><td><strong>strings</strong></td><td>Contain the same number of Unicode characters and their code points are byte-by-byte equal.</td></tr><tr><td><strong>numbers</strong></td><td>Are numerically equal.</td></tr><tr><td><strong>arrays</strong></td><td>Contain the same number of values, and each value is equal to the value at the corresponding position in the other array, by using these type-specific rules.</td></tr><tr><td><strong>objects</strong></td><td>Contain the same number of parameters, and each parameter is equal to a parameter in the other object, by comparing their keys (as strings) and their values (by using these type-specific rules).</td></tr><tr><td><strong>literals (<code>false</code>, <code>true</code>, and <code>null</code>)</strong></td><td>Are the same. The comparison is a logical comparison. For example, whitespace between the parameter values of an array is not significant. Also, ordering of the serialization of object parameters is not significant.</td></tr></tbody></table>For more information, see <a href=\"https://tools.ietf.org/html/rfc6902#section-4.6\">4.6. test</a>."
              }
            ],
            "enum": ["add", "remove", "replace", "move", "copy", "test"]
          },
          "path": {
            "type": "string",
            "description": "The <a href=\"https://tools.ietf.org/html/rfc6901\">JSON Pointer</a> to the target document location at which to complete the operation."
          },
          "value": {
            "type": [
              "number",
              "integer",
              "string",
              "boolean",
              "null",
              "array",
              "object"
            ],
            "title": "Patch Value",
            "description": "The value to apply. The <code>remove</code> operation does not require a value."
          },
          "from": {
            "type": "string",
            "description": "The <a href=\"https://tools.ietf.org/html/rfc6901\">JSON Pointer</a> to the target document location from which to move the value. Required for the <code>move</code> operation."
          }
        },
        "required": ["op"]
      },
      "patch_request": {
        "type": "array",
        "title": "Patch Request",
        "description": "An array of JSON patch objects to apply partial updates to resources.",
        "items": {
          "$ref": "#/components/schemas/patch"
        }
      },
      "product": {
        "title": "Product Details",
        "description": "The product details.",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the product.",
            "minLength": 6,
            "maxLength": 50
          },
          "name": {
            "type": "string",
            "description": "The product name.",
            "minLength": 1,
            "maxLength": 127
          },
          "description": {
            "type": "string",
            "description": "The product description.",
            "minLength": 1,
            "maxLength": 256
          },
          "type": {
            "type": "string",
            "description": "The product type. Indicates whether the product is physical or digital goods, or a service.",
            "minLength": 1,
            "maxLength": 24,
            "pattern": "^[A-Z_]+$",
            "default": "PHYSICAL",
            "x-enumDescriptions": [
              {
                "value": "PHYSICAL",
                "description": "Physical goods"
              },
              {
                "value": "DIGITAL",
                "description": "For digital goods, the value must be set to DIGITAL to get the best rates. For more details, please contact your account manager."
              },
              {
                "value": "SERVICE",
                "description": "Product representing a service. Example: Tech Support"
              }
            ],
            "enum": ["PHYSICAL", "DIGITAL", "SERVICE"]
          },
          "category": {
            "$ref": "#/components/schemas/product_category"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "minLength": 1,
            "maxLength": 2000,
            "description": "The image URL for the product."
          },
          "home_url": {
            "type": "string",
            "format": "uri",
            "minLength": 1,
            "maxLength": 2000,
            "description": "The home page URL for the product."
          },
          "create_time": {
            "description": "The date and time when the product was created, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "readOnly": true,
            "$ref": "#/components/schemas/date_time"
          },
          "update_time": {
            "description": "The date and time when the product was last updated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "readOnly": true,
            "$ref": "#/components/schemas/date_time"
          },
          "links": {
            "$ref": "#/components/schemas/link_description_list"
          }
        }
      },
      "product_category": {
        "type": "string",
        "description": "The product category.",
        "title": "Product Category",
        "minLength": 4,
        "maxLength": 256,
        "pattern": "^[A-Z_]+$",
        "x-enumDescriptions": [
          {
            "value": "AC_REFRIGERATION_REPAIR",
            "description": "A/C, Refrigeration Repair"
          },
          {
            "value": "ACADEMIC_SOFTWARE",
            "description": "Academic Software"
          },
          {
            "value": "ACCESSORIES",
            "description": "Accessories"
          },
          {
            "value": "ACCOUNTING",
            "description": "Accounting"
          },
          {
            "value": "ADULT",
            "description": "Adult"
          },
          {
            "value": "ADVERTISING",
            "description": "Advertising"
          },
          {
            "value": "AFFILIATED_AUTO_RENTAL",
            "description": "Affiliated Auto Rental"
          },
          {
            "value": "AGENCIES",
            "description": "Agencies"
          },
          {
            "value": "AGGREGATORS",
            "description": "Aggregators"
          },
          {
            "value": "AGRICULTURAL_COOPERATIVE_FOR_MAIL_ORDER",
            "description": "Agricultural Cooperative for Mail Order"
          },
          {
            "value": "AIR_CARRIERS_AIRLINES",
            "description": "Air Carriers, Airlines"
          },
          {
            "value": "AIRLINES",
            "description": "Airlines"
          },
          {
            "value": "AIRPORTS_FLYING_FIELDS",
            "description": "Airports, Flying Fields"
          },
          {
            "value": "ALCOHOLIC_BEVERAGES",
            "description": "Alcoholic Beverages"
          },
          {
            "value": "AMUSEMENT_PARKS_CARNIVALS",
            "description": "Amusement Parks/Carnivals"
          },
          {
            "value": "ANIMATION",
            "description": "Animation"
          },
          {
            "value": "ANTIQUES",
            "description": "Antiques"
          },
          {
            "value": "APPLIANCES",
            "description": "Appliances"
          },
          {
            "value": "AQUARIAMS_SEAQUARIUMS_DOLPHINARIUMS",
            "description": "Aquariams Seaquariums Dolphinariums"
          },
          {
            "value": "ARCHITECTURAL_ENGINEERING_AND_SURVEYING_SERVICES",
            "description": "Architectural,Engineering,And Surveying Services"
          },
          {
            "value": "ART_AND_CRAFT_SUPPLIES",
            "description": "Art & Craft Supplies"
          },
          {
            "value": "ART_DEALERS_AND_GALLERIES",
            "description": "Art dealers and galleries"
          },
          {
            "value": "ARTIFACTS_GRAVE_RELATED_AND_NATIVE_AMERICAN_CRAFTS",
            "description": "Artifacts, Grave related, and Native American Crafts"
          },
          {
            "value": "ARTS_AND_CRAFTS",
            "description": "Arts and crafts"
          },
          {
            "value": "ARTS_CRAFTS_AND_COLLECTIBLES",
            "description": "Arts, crafts, and collectibles"
          },
          {
            "value": "AUDIO_BOOKS",
            "description": "Audio books"
          },
          {
            "value": "AUTO_ASSOCIATIONS_CLUBS",
            "description": "Auto Associations/Clubs"
          },
          {
            "value": "AUTO_DEALER_USED_ONLY",
            "description": "Auto dealer - used only"
          },
          {
            "value": "AUTO_RENTALS",
            "description": "Auto Rentals"
          },
          {
            "value": "AUTO_SERVICE",
            "description": "Auto service"
          },
          {
            "value": "AUTOMATED_FUEL_DISPENSERS",
            "description": "Automated Fuel Dispensers"
          },
          {
            "value": "AUTOMOBILE_ASSOCIATIONS",
            "description": "Automobile Associations"
          },
          {
            "value": "AUTOMOTIVE",
            "description": "Automotive"
          },
          {
            "value": "AUTOMOTIVE_REPAIR_SHOPS_NON_DEALER",
            "description": "Automotive Repair Shops - Non-Dealer"
          },
          {
            "value": "AUTOMOTIVE_TOP_AND_BODY_SHOPS",
            "description": "Automotive Top And Body Shops"
          },
          {
            "value": "AVIATION",
            "description": "Aviation"
          },
          {
            "value": "BABIES_CLOTHING_AND_SUPPLIES",
            "description": "Babies Clothing & Supplies"
          },
          {
            "value": "BABY",
            "description": "Baby"
          },
          {
            "value": "BANDS_ORCHESTRAS_ENTERTAINERS",
            "description": "Bands,Orchestras,Entertainers"
          },
          {
            "value": "BARBIES",
            "description": "Barbies"
          },
          {
            "value": "BATH_AND_BODY",
            "description": "Bath and body"
          },
          {
            "value": "BATTERIES",
            "description": "Batteries"
          },
          {
            "value": "BEAN_BABIES",
            "description": "Bean Babies"
          },
          {
            "value": "BEAUTY",
            "description": "Beauty"
          },
          {
            "value": "BEAUTY_AND_FRAGRANCES",
            "description": "Beauty and fragrances"
          },
          {
            "value": "BED_AND_BATH",
            "description": "Bed & Bath"
          },
          {
            "value": "BICYCLE_SHOPS_SALES_AND_SERVICE",
            "description": "Bicycle Shops-Sales And Service"
          },
          {
            "value": "BICYCLES_AND_ACCESSORIES",
            "description": "Bicycles & Accessories"
          },
          {
            "value": "BILLIARD_POOL_ESTABLISHMENTS",
            "description": "Billiard/Pool Establishments"
          },
          {
            "value": "BOAT_DEALERS",
            "description": "Boat Dealers"
          },
          {
            "value": "BOAT_RENTALS_AND_LEASING",
            "description": "Boat Rentals And Leasing"
          },
          {
            "value": "BOATING_SAILING_AND_ACCESSORIES",
            "description": "Boating, sailing and accessories"
          },
          {
            "value": "BOOKS",
            "description": "Books"
          },
          {
            "value": "BOOKS_AND_MAGAZINES",
            "description": "Books and magazines"
          },
          {
            "value": "BOOKS_MANUSCRIPTS",
            "description": "Books, Manuscripts"
          },
          {
            "value": "BOOKS_PERIODICALS_AND_NEWSPAPERS",
            "description": "Books, Periodicals And Newspapers"
          },
          {
            "value": "BOWLING_ALLEYS",
            "description": "Bowling Alleys"
          },
          {
            "value": "BULLETIN_BOARD",
            "description": "Bulletin board"
          },
          {
            "value": "BUS_LINE",
            "description": "Bus line"
          },
          {
            "value": "BUS_LINES_CHARTERS_TOUR_BUSES",
            "description": "Bus Lines,Charters,Tour Buses"
          },
          {
            "value": "BUSINESS",
            "description": "Business"
          },
          {
            "value": "BUSINESS_AND_SECRETARIAL_SCHOOLS",
            "description": "Business and secretarial schools"
          },
          {
            "value": "BUYING_AND_SHOPPING_SERVICES_AND_CLUBS",
            "description": "Buying And Shopping Services And Clubs"
          },
          {
            "value": "CABLE_SATELLITE_AND_OTHER_PAY_TELEVISION_AND_RADIO_SERVICES",
            "description": "Cable,Satellite,And Other Pay Television And Radio Services"
          },
          {
            "value": "CABLE_SATELLITE_AND_OTHER_PAY_TV_AND_RADIO",
            "description": "Cable, satellite, and other pay TV and radio"
          },
          {
            "value": "CAMERA_AND_PHOTOGRAPHIC_SUPPLIES",
            "description": "Camera and photographic supplies"
          },
          {
            "value": "CAMERAS",
            "description": "Cameras"
          },
          {
            "value": "CAMERAS_AND_PHOTOGRAPHY",
            "description": "Cameras & Photography"
          },
          {
            "value": "CAMPER_RECREATIONAL_AND_UTILITY_TRAILER_DEALERS",
            "description": "Camper,Recreational And Utility Trailer Dealers"
          },
          {
            "value": "CAMPING_AND_OUTDOORS",
            "description": "Camping and outdoors"
          },
          {
            "value": "CAMPING_AND_SURVIVAL",
            "description": "Camping & Survival"
          },
          {
            "value": "CAR_AND_TRUCK_DEALERS",
            "description": "Car And Truck Dealers"
          },
          {
            "value": "CAR_AND_TRUCK_DEALERS_USED_ONLY",
            "description": "Car And Truck Dealers - Used Only"
          },
          {
            "value": "CAR_AUDIO_AND_ELECTRONICS",
            "description": "Car Audio & Electronics"
          },
          {
            "value": "CAR_RENTAL_AGENCY",
            "description": "Car rental agency"
          },
          {
            "value": "CATALOG_MERCHANT",
            "description": "Catalog Merchant"
          },
          {
            "value": "CATALOG_RETAIL_MERCHANT",
            "description": "Catalog/Retail Merchant"
          },
          {
            "value": "CATERING_SERVICES",
            "description": "Catering services"
          },
          {
            "value": "CHARITY",
            "description": "Charity"
          },
          {
            "value": "CHECK_CASHIER",
            "description": "Check Cashier"
          },
          {
            "value": "CHILD_CARE_SERVICES",
            "description": "Child Care Services"
          },
          {
            "value": "CHILDREN_BOOKS",
            "description": "Children Books"
          },
          {
            "value": "CHIROPODISTS_PODIATRISTS",
            "description": "Chiropodists/Podiatrists"
          },
          {
            "value": "CHIROPRACTORS",
            "description": "Chiropractors"
          },
          {
            "value": "CIGAR_STORES_AND_STANDS",
            "description": "Cigar Stores And Stands"
          },
          {
            "value": "CIVIC_SOCIAL_FRATERNAL_ASSOCIATIONS",
            "description": "Civic, Social, Fraternal Associations"
          },
          {
            "value": "CIVIL_SOCIAL_FRAT_ASSOCIATIONS",
            "description": "Civil/Social/Frat Associations"
          },
          {
            "value": "CLOTHING",
            "description": "Clothing"
          },
          {
            "value": "CLOTHING_ACCESSORIES_AND_SHOES",
            "description": "Clothing, accessories, and shoes"
          },
          {
            "value": "CLOTHING_RENTAL",
            "description": "Clothing Rental"
          },
          {
            "value": "COFFEE_AND_TEA",
            "description": "Coffee and tea"
          },
          {
            "value": "COIN_OPERATED_BANKS_AND_CASINOS",
            "description": "Coin Operated Banks & Casinos"
          },
          {
            "value": "COLLECTIBLES",
            "description": "Collectibles"
          },
          {
            "value": "COLLECTION_AGENCY",
            "description": "Collection agency"
          },
          {
            "value": "COLLEGES_AND_UNIVERSITIES",
            "description": "Colleges and universities"
          },
          {
            "value": "COMMERCIAL_EQUIPMENT",
            "description": "Commercial Equipment"
          },
          {
            "value": "COMMERCIAL_FOOTWEAR",
            "description": "Commercial Footwear"
          },
          {
            "value": "COMMERCIAL_PHOTOGRAPHY",
            "description": "Commercial photography"
          },
          {
            "value": "COMMERCIAL_PHOTOGRAPHY_ART_AND_GRAPHICS",
            "description": "Commercial photography, art, and graphics"
          },
          {
            "value": "COMMERCIAL_SPORTS_PROFESSIONA",
            "description": "Commercial Sports/Professiona"
          },
          {
            "value": "COMMODITIES_AND_FUTURES_EXCHANGE",
            "description": "Commodities and futures exchange"
          },
          {
            "value": "COMPUTER_AND_DATA_PROCESSING_SERVICES",
            "description": "Computer and data processing services"
          },
          {
            "value": "COMPUTER_HARDWARE_AND_SOFTWARE",
            "description": "Computer Hardware & Software"
          },
          {
            "value": "COMPUTER_MAINTENANCE_REPAIR_AND_SERVICES_NOT_ELSEWHERE_CLAS",
            "description": "Computer Maintenance, Repair And Services Not Elsewhere Clas"
          },
          {
            "value": "CONSTRUCTION",
            "description": "Construction"
          },
          {
            "value": "CONSTRUCTION_MATERIALS_NOT_ELSEWHERE_CLASSIFIED",
            "description": "Construction Materials Not Elsewhere Classified"
          },
          {
            "value": "CONSULTING_SERVICES",
            "description": "Consulting services"
          },
          {
            "value": "CONSUMER_CREDIT_REPORTING_AGENCIES",
            "description": "Consumer Credit Reporting Agencies"
          },
          {
            "value": "CONVALESCENT_HOMES",
            "description": "Convalescent Homes"
          },
          {
            "value": "COSMETIC_STORES",
            "description": "Cosmetic Stores"
          },
          {
            "value": "COUNSELING_SERVICES_DEBT_MARRIAGE_PERSONAL",
            "description": "Counseling Services--Debt,Marriage,Personal"
          },
          {
            "value": "COUNTERFEIT_CURRENCY_AND_STAMPS",
            "description": "Counterfeit Currency and Stamps"
          },
          {
            "value": "COUNTERFEIT_ITEMS",
            "description": "Counterfeit Items"
          },
          {
            "value": "COUNTRY_CLUBS",
            "description": "Country Clubs"
          },
          {
            "value": "COURIER_SERVICES",
            "description": "Courier services"
          },
          {
            "value": "COURIER_SERVICES_AIR_AND_GROUND_AND_FREIGHT_FORWARDERS",
            "description": "Courier Services-Air And Ground,And Freight Forwarders"
          },
          {
            "value": "COURT_COSTS_ALIMNY_CHILD_SUPT",
            "description": "Court Costs/Alimny/Child Supt"
          },
          {
            "value": "COURT_COSTS_INCLUDING_ALIMONY_AND_CHILD_SUPPORT_COURTS_OF_LAW",
            "description": "Court Costs, Including Alimony and Child Support - Courts of Law"
          },
          {
            "value": "CREDIT_CARDS",
            "description": "Credit Cards"
          },
          {
            "value": "CREDIT_UNION",
            "description": "Credit union"
          },
          {
            "value": "CULTURE_AND_RELIGION",
            "description": "Culture & Religion"
          },
          {
            "value": "DAIRY_PRODUCTS_STORES",
            "description": "Dairy Products Stores"
          },
          {
            "value": "DANCE_HALLS_STUDIOS_AND_SCHOOLS",
            "description": "Dance Halls,Studios,And Schools"
          },
          {
            "value": "DECORATIVE",
            "description": "Decorative"
          },
          {
            "value": "DENTAL",
            "description": "Dental"
          },
          {
            "value": "DENTISTS_AND_ORTHODONTISTS",
            "description": "Dentists And Orthodontists"
          },
          {
            "value": "DEPARTMENT_STORES",
            "description": "Department Stores"
          },
          {
            "value": "DESKTOP_PCS",
            "description": "Desktop PCs"
          },
          {
            "value": "DEVICES",
            "description": "Devices"
          },
          {
            "value": "DIECAST_TOYS_VEHICLES",
            "description": "Diecast, Toys Vehicles"
          },
          {
            "value": "DIGITAL_GAMES",
            "description": "Digital games"
          },
          {
            "value": "DIGITAL_MEDIA_BOOKS_MOVIES_MUSIC",
            "description": "Digital media,books,movies,music"
          },
          {
            "value": "DIRECT_MARKETING",
            "description": "Direct Marketing"
          },
          {
            "value": "DIRECT_MARKETING_CATALOG_MERCHANT",
            "description": "Direct Marketing - Catalog Merchant"
          },
          {
            "value": "DIRECT_MARKETING_INBOUND_TELE",
            "description": "Direct Marketing - Inbound Tele"
          },
          {
            "value": "DIRECT_MARKETING_OUTBOUND_TELE",
            "description": "Direct Marketing - Outbound Tele"
          },
          {
            "value": "DIRECT_MARKETING_SUBSCRIPTION",
            "description": "Direct Marketing - Subscription"
          },
          {
            "value": "DISCOUNT_STORES",
            "description": "Discount Stores"
          },
          {
            "value": "DOOR_TO_DOOR_SALES",
            "description": "Door-To-Door Sales"
          },
          {
            "value": "DRAPERY_WINDOW_COVERING_AND_UPHOLSTERY",
            "description": "Drapery, window covering, and upholstery"
          },
          {
            "value": "DRINKING_PLACES",
            "description": "Drinking Places"
          },
          {
            "value": "DRUGSTORE",
            "description": "Drugstore"
          },
          {
            "value": "DURABLE_GOODS",
            "description": "Durable goods"
          },
          {
            "value": "ECOMMERCE_DEVELOPMENT",
            "description": "eCommerce Development"
          },
          {
            "value": "ECOMMERCE_SERVICES",
            "description": "eCommerce Services"
          },
          {
            "value": "EDUCATIONAL_AND_TEXTBOOKS",
            "description": "Educational and textbooks"
          },
          {
            "value": "ELECTRIC_RAZOR_STORES",
            "description": "Electric Razor Stores"
          },
          {
            "value": "ELECTRICAL_AND_SMALL_APPLIANCE_REPAIR",
            "description": "Electrical and small appliance repair"
          },
          {
            "value": "ELECTRICAL_CONTRACTORS",
            "description": "Electrical Contractors"
          },
          {
            "value": "ELECTRICAL_PARTS_AND_EQUIPMENT",
            "description": "Electrical Parts and Equipment"
          },
          {
            "value": "ELECTRONIC_CASH",
            "description": "Electronic Cash"
          },
          {
            "value": "ELEMENTARY_AND_SECONDARY_SCHOOLS",
            "description": "Elementary and secondary schools"
          },
          {
            "value": "EMPLOYMENT",
            "description": "Employment"
          },
          {
            "value": "ENTERTAINERS",
            "description": "Entertainers"
          },
          {
            "value": "ENTERTAINMENT_AND_MEDIA",
            "description": "Entertainment and media"
          },
          {
            "value": "EQUIP_TOOL_FURNITURE_AND_APPLIANCE_RENTAL_AND_LEASING",
            "description": "Equip, Tool, Furniture, And Appliance Rental And Leasing"
          },
          {
            "value": "ESCROW",
            "description": "Escrow"
          },
          {
            "value": "EVENT_AND_WEDDING_PLANNING",
            "description": "Event & Wedding Planning"
          },
          {
            "value": "EXERCISE_AND_FITNESS",
            "description": "Exercise and fitness"
          },
          {
            "value": "EXERCISE_EQUIPMENT",
            "description": "Exercise Equipment"
          },
          {
            "value": "EXTERMINATING_AND_DISINFECTING_SERVICES",
            "description": "Exterminating and disinfecting services"
          },
          {
            "value": "FABRICS_AND_SEWING",
            "description": "Fabrics & Sewing"
          },
          {
            "value": "FAMILY_CLOTHING_STORES",
            "description": "Family Clothing Stores"
          },
          {
            "value": "FASHION_JEWELRY",
            "description": "Fashion jewelry"
          },
          {
            "value": "FAST_FOOD_RESTAURANTS",
            "description": "Fast Food Restaurants"
          },
          {
            "value": "FICTION_AND_NONFICTION",
            "description": "Fiction and nonfiction"
          },
          {
            "value": "FINANCE_COMPANY",
            "description": "Finance company"
          },
          {
            "value": "FINANCIAL_AND_INVESTMENT_ADVICE",
            "description": "Financial and investment advice"
          },
          {
            "value": "FINANCIAL_INSTITUTIONS_MERCHANDISE_AND_SERVICES",
            "description": "Financial Institutions - Merchandise And Services"
          },
          {
            "value": "FIREARM_ACCESSORIES",
            "description": "Firearm accessories"
          },
          {
            "value": "FIREARMS_WEAPONS_AND_KNIVES",
            "description": "Firearms, Weapons and Knives"
          },
          {
            "value": "FIREPLACE_AND_FIREPLACE_SCREENS",
            "description": "Fireplace, and fireplace screens"
          },
          {
            "value": "FIREWORKS",
            "description": "Fireworks"
          },
          {
            "value": "FISHING",
            "description": "Fishing"
          },
          {
            "value": "FLORISTS",
            "description": "Florists"
          },
          {
            "value": "FLOWERS",
            "description": "Flowers"
          },
          {
            "value": "FOOD_DRINK_AND_NUTRITION",
            "description": "Food, Drink & Nutrition"
          },
          {
            "value": "FOOD_PRODUCTS",
            "description": "Food Products"
          },
          {
            "value": "FOOD_RETAIL_AND_SERVICE",
            "description": "Food retail and service"
          },
          {
            "value": "FRAGRANCES_AND_PERFUMES",
            "description": "Fragrances and perfumes"
          },
          {
            "value": "FREEZER_AND_LOCKER_MEAT_PROVISIONERS",
            "description": "Freezer and Locker Meat Provisioners"
          },
          {
            "value": "FUEL_DEALERS_FUEL_OIL_WOOD_AND_COAL",
            "description": "Fuel Dealers-Fuel Oil, Wood & Coal"
          },
          {
            "value": "FUEL_DEALERS_NON_AUTOMOTIVE",
            "description": "Fuel Dealers - Non Automotive"
          },
          {
            "value": "FUNERAL_SERVICES_AND_CREMATORIES",
            "description": "Funeral Services & Crematories"
          },
          {
            "value": "FURNISHING_AND_DECORATING",
            "description": "Furnishing & Decorating"
          },
          {
            "value": "FURNITURE",
            "description": "Furniture"
          },
          {
            "value": "FURRIERS_AND_FUR_SHOPS",
            "description": "Furriers and Fur Shops"
          },
          {
            "value": "GADGETS_AND_OTHER_ELECTRONICS",
            "description": "Gadgets & other electronics"
          },
          {
            "value": "GAMBLING",
            "description": "Gambling"
          },
          {
            "value": "GAME_SOFTWARE",
            "description": "Game Software"
          },
          {
            "value": "GAMES",
            "description": "Games"
          },
          {
            "value": "GARDEN_SUPPLIES",
            "description": "Garden supplies"
          },
          {
            "value": "GENERAL",
            "description": "General"
          },
          {
            "value": "GENERAL_CONTRACTORS",
            "description": "General contractors"
          },
          {
            "value": "GENERAL_GOVERNMENT",
            "description": "General - Government"
          },
          {
            "value": "GENERAL_SOFTWARE",
            "description": "General - Software"
          },
          {
            "value": "GENERAL_TELECOM",
            "description": "General - Telecom"
          },
          {
            "value": "GIFTS_AND_FLOWERS",
            "description": "Gifts and flowers"
          },
          {
            "value": "GLASS_PAINT_AND_WALLPAPER_STORES",
            "description": "Glass,Paint,And Wallpaper Stores"
          },
          {
            "value": "GLASSWARE_CRYSTAL_STORES",
            "description": "Glassware, Crystal Stores"
          },
          {
            "value": "GOVERNMENT",
            "description": "Government"
          },
          {
            "value": "GOVERNMENT_IDS_AND_LICENSES",
            "description": "Government IDs and Licenses"
          },
          {
            "value": "GOVERNMENT_LICENSED_ON_LINE_CASINOS_ON_LINE_GAMBLING",
            "description": "Government Licensed On-Line Casinos - On-Line Gambling"
          },
          {
            "value": "GOVERNMENT_OWNED_LOTTERIES",
            "description": "Government-Owned Lotteries"
          },
          {
            "value": "GOVERNMENT_SERVICES",
            "description": "Government services"
          },
          {
            "value": "GRAPHIC_AND_COMMERCIAL_DESIGN",
            "description": "Graphic & Commercial Design"
          },
          {
            "value": "GREETING_CARDS",
            "description": "Greeting Cards"
          },
          {
            "value": "GROCERY_STORES_AND_SUPERMARKETS",
            "description": "Grocery Stores & Supermarkets"
          },
          {
            "value": "HARDWARE_AND_TOOLS",
            "description": "Hardware & Tools"
          },
          {
            "value": "HARDWARE_EQUIPMENT_AND_SUPPLIES",
            "description": "Hardware, Equipment, and Supplies"
          },
          {
            "value": "HAZARDOUS_RESTRICTED_AND_PERISHABLE_ITEMS",
            "description": "Hazardous, Restricted and Perishable Items"
          },
          {
            "value": "HEALTH_AND_BEAUTY_SPAS",
            "description": "Health and beauty spas"
          },
          {
            "value": "HEALTH_AND_NUTRITION",
            "description": "Health & Nutrition"
          },
          {
            "value": "HEALTH_AND_PERSONAL_CARE",
            "description": "Health and personal care"
          },
          {
            "value": "HEARING_AIDS_SALES_AND_SUPPLIES",
            "description": "Hearing Aids Sales and Supplies"
          },
          {
            "value": "HEATING_PLUMBING_AC",
            "description": "Heating, Plumbing, AC"
          },
          {
            "value": "HIGH_RISK_MERCHANT",
            "description": "High Risk Merchant"
          },
          {
            "value": "HIRING_SERVICES",
            "description": "Hiring services"
          },
          {
            "value": "HOBBIES_TOYS_AND_GAMES",
            "description": "Hobbies, Toys & Games"
          },
          {
            "value": "HOME_AND_GARDEN",
            "description": "Home and garden"
          },
          {
            "value": "HOME_AUDIO",
            "description": "Home Audio"
          },
          {
            "value": "HOME_DECOR",
            "description": "Home decor"
          },
          {
            "value": "HOME_ELECTRONICS",
            "description": "Home Electronics"
          },
          {
            "value": "HOSPITALS",
            "description": "Hospitals"
          },
          {
            "value": "HOTELS_MOTELS_INNS_RESORTS",
            "description": "Hotels/Motels/Inns/Resorts"
          },
          {
            "value": "HOUSEWARES",
            "description": "Housewares"
          },
          {
            "value": "HUMAN_PARTS_AND_REMAINS",
            "description": "Human Parts and Remains"
          },
          {
            "value": "HUMOROUS_GIFTS_AND_NOVELTIES",
            "description": "Humorous Gifts & Novelties"
          },
          {
            "value": "HUNTING",
            "description": "Hunting"
          },
          {
            "value": "IDS_LICENSES_AND_PASSPORTS",
            "description": "IDs, licenses, and passports"
          },
          {
            "value": "ILLEGAL_DRUGS_AND_PARAPHERNALIA",
            "description": "Illegal Drugs & Paraphernalia"
          },
          {
            "value": "INDUSTRIAL",
            "description": "Industrial"
          },
          {
            "value": "INDUSTRIAL_AND_MANUFACTURING_SUPPLIES",
            "description": "Industrial and manufacturing supplies"
          },
          {
            "value": "INSURANCE_AUTO_AND_HOME",
            "description": "Insurance - auto and home"
          },
          {
            "value": "INSURANCE_DIRECT",
            "description": "Insurance - Direct"
          },
          {
            "value": "INSURANCE_LIFE_AND_ANNUITY",
            "description": "Insurance - life and annuity"
          },
          {
            "value": "INSURANCE_SALES_UNDERWRITING",
            "description": "Insurance Sales/Underwriting"
          },
          {
            "value": "INSURANCE_UNDERWRITING_PREMIUMS",
            "description": "Insurance Underwriting, Premiums"
          },
          {
            "value": "INTERNET_AND_NETWORK_SERVICES",
            "description": "Internet & Network Services"
          },
          {
            "value": "INTRA_COMPANY_PURCHASES",
            "description": "Intra-Company Purchases"
          },
          {
            "value": "LABORATORIES_DENTAL_MEDICAL",
            "description": "Laboratories-Dental/Medical"
          },
          {
            "value": "LANDSCAPING",
            "description": "Landscaping"
          },
          {
            "value": "LANDSCAPING_AND_HORTICULTURAL_SERVICES",
            "description": "Landscaping And Horticultural Services"
          },
          {
            "value": "LAUNDRY_CLEANING_SERVICES",
            "description": "Laundry, Cleaning Services"
          },
          {
            "value": "LEGAL",
            "description": "Legal"
          },
          {
            "value": "LEGAL_SERVICES_AND_ATTORNEYS",
            "description": "Legal services and attorneys"
          },
          {
            "value": "LOCAL_DELIVERY_SERVICE",
            "description": "Local delivery service"
          },
          {
            "value": "LOCKSMITH",
            "description": "Locksmith"
          },
          {
            "value": "LODGING_AND_ACCOMMODATIONS",
            "description": "Lodging and accommodations"
          },
          {
            "value": "LOTTERY_AND_CONTESTS",
            "description": "Lottery and contests"
          },
          {
            "value": "LUGGAGE_AND_LEATHER_GOODS",
            "description": "Luggage and leather goods"
          },
          {
            "value": "LUMBER_AND_BUILDING_MATERIALS",
            "description": "Lumber & Building Materials"
          },
          {
            "value": "MAGAZINES",
            "description": "Magazines"
          },
          {
            "value": "MAINTENANCE_AND_REPAIR_SERVICES",
            "description": "Maintenance and repair services"
          },
          {
            "value": "MAKEUP_AND_COSMETICS",
            "description": "Makeup and cosmetics"
          },
          {
            "value": "MANUAL_CASH_DISBURSEMENTS",
            "description": "Manual Cash Disbursements"
          },
          {
            "value": "MASSAGE_PARLORS",
            "description": "Massage Parlors"
          },
          {
            "value": "MEDICAL",
            "description": "Medical"
          },
          {
            "value": "MEDICAL_AND_PHARMACEUTICAL",
            "description": "Medical & Pharmaceutical"
          },
          {
            "value": "MEDICAL_CARE",
            "description": "Medical care"
          },
          {
            "value": "MEDICAL_EQUIPMENT_AND_SUPPLIES",
            "description": "Medical equipment and supplies"
          },
          {
            "value": "MEDICAL_SERVICES",
            "description": "Medical Services"
          },
          {
            "value": "MEETING_PLANNERS",
            "description": "Meeting Planners"
          },
          {
            "value": "MEMBERSHIP_CLUBS_AND_ORGANIZATIONS",
            "description": "Membership clubs and organizations"
          },
          {
            "value": "MEMBERSHIP_COUNTRY_CLUBS_GOLF",
            "description": "Membership/Country Clubs/Golf"
          },
          {
            "value": "MEMORABILIA",
            "description": "Memorabilia"
          },
          {
            "value": "MEN_AND_BOY_CLOTHING_AND_ACCESSORY_STORES",
            "description": "Men's And Boy's Clothing And Accessory Stores"
          },
          {
            "value": "MEN_CLOTHING",
            "description": "Men's Clothing"
          },
          {
            "value": "MERCHANDISE",
            "description": "Merchandise"
          },
          {
            "value": "METAPHYSICAL",
            "description": "Metaphysical"
          },
          {
            "value": "MILITARIA",
            "description": "Militaria"
          },
          {
            "value": "MILITARY_AND_CIVIL_SERVICE_UNIFORMS",
            "description": "Military and civil service uniforms"
          },
          {
            "value": "MISC._AUTOMOTIVE_AIRCRAFT_AND_FARM_EQUIPMENT_DEALERS",
            "description": "Misc. Automotive,Aircraft,And Farm Equipment Dealers"
          },
          {
            "value": "MISC._GENERAL_MERCHANDISE",
            "description": "Misc. General Merchandise"
          },
          {
            "value": "MISCELLANEOUS_GENERAL_SERVICES",
            "description": "Miscellaneous General Services"
          },
          {
            "value": "MISCELLANEOUS_REPAIR_SHOPS_AND_RELATED_SERVICES",
            "description": "Miscellaneous Repair Shops And Related Services"
          },
          {
            "value": "MODEL_KITS",
            "description": "Model Kits"
          },
          {
            "value": "MONEY_TRANSFER_MEMBER_FINANCIAL_INSTITUTION",
            "description": "Money Transfer - Member Financial Institution"
          },
          {
            "value": "MONEY_TRANSFER_MERCHANT",
            "description": "Money Transfer--Merchant"
          },
          {
            "value": "MOTION_PICTURE_THEATERS",
            "description": "Motion Picture Theaters"
          },
          {
            "value": "MOTOR_FREIGHT_CARRIERS_AND_TRUCKING",
            "description": "Motor Freight Carriers & Trucking"
          },
          {
            "value": "MOTOR_HOME_AND_RECREATIONAL_VEHICLE_RENTAL",
            "description": "Motor Home And Recreational Vehicle Rental"
          },
          {
            "value": "MOTOR_HOMES_DEALERS",
            "description": "Motor Homes Dealers"
          },
          {
            "value": "MOTOR_VEHICLE_SUPPLIES_AND_NEW_PARTS",
            "description": "Motor Vehicle Supplies and New Parts"
          },
          {
            "value": "MOTORCYCLE_DEALERS",
            "description": "Motorcycle Dealers"
          },
          {
            "value": "MOTORCYCLES",
            "description": "Motorcycles"
          },
          {
            "value": "MOVIE",
            "description": "Movie"
          },
          {
            "value": "MOVIE_TICKETS",
            "description": "Movie tickets"
          },
          {
            "value": "MOVING_AND_STORAGE",
            "description": "Moving and storage"
          },
          {
            "value": "MULTI_LEVEL_MARKETING",
            "description": "Multi-level marketing"
          },
          {
            "value": "MUSIC_CDS_CASSETTES_AND_ALBUMS",
            "description": "Music - CDs, cassettes and albums"
          },
          {
            "value": "MUSIC_STORE_INSTRUMENTS_AND_SHEET_MUSIC",
            "description": "Music store - instruments and sheet music"
          },
          {
            "value": "NETWORKING",
            "description": "Networking"
          },
          {
            "value": "NEW_AGE",
            "description": "New Age"
          },
          {
            "value": "NEW_PARTS_AND_SUPPLIES_MOTOR_VEHICLE",
            "description": "New parts and supplies - motor vehicle"
          },
          {
            "value": "NEWS_DEALERS_AND_NEWSTANDS",
            "description": "News Dealers and Newstands"
          },
          {
            "value": "NON_DURABLE_GOODS",
            "description": "Non-durable goods"
          },
          {
            "value": "NON_FICTION",
            "description": "Non-Fiction"
          },
          {
            "value": "NON_PROFIT_POLITICAL_AND_RELIGION",
            "description": "Non-Profit, Political & Religion"
          },
          {
            "value": "NONPROFIT",
            "description": "Nonprofit"
          },
          {
            "value": "NOVELTIES",
            "description": "Novelties"
          },
          {
            "value": "OEM_SOFTWARE",
            "description": "Oem Software"
          },
          {
            "value": "OFFICE_SUPPLIES_AND_EQUIPMENT",
            "description": "Office Supplies and Equipment"
          },
          {
            "value": "ONLINE_DATING",
            "description": "Online Dating"
          },
          {
            "value": "ONLINE_GAMING",
            "description": "Online gaming"
          },
          {
            "value": "ONLINE_GAMING_CURRENCY",
            "description": "Online gaming currency"
          },
          {
            "value": "ONLINE_SERVICES",
            "description": "online services"
          },
          {
            "value": "OOUTBOUND_TELEMARKETING_MERCH",
            "description": "Ooutbound Telemarketing Merch"
          },
          {
            "value": "OPHTHALMOLOGISTS_OPTOMETRIST",
            "description": "Ophthalmologists/Optometrist"
          },
          {
            "value": "OPTICIANS_AND_DISPENSING",
            "description": "Opticians And Dispensing"
          },
          {
            "value": "ORTHOPEDIC_GOODS_PROSTHETICS",
            "description": "Orthopedic Goods/Prosthetics"
          },
          {
            "value": "OSTEOPATHS",
            "description": "Osteopaths"
          },
          {
            "value": "OTHER",
            "description": "Other"
          },
          {
            "value": "PACKAGE_TOUR_OPERATORS",
            "description": "Package Tour Operators"
          },
          {
            "value": "PAINTBALL",
            "description": "Paintball"
          },
          {
            "value": "PAINTS_VARNISHES_AND_SUPPLIES",
            "description": "Paints, Varnishes, and Supplies"
          },
          {
            "value": "PARKING_LOTS_AND_GARAGES",
            "description": "Parking Lots & Garages"
          },
          {
            "value": "PARTS_AND_ACCESSORIES",
            "description": "Parts and accessories"
          },
          {
            "value": "PAWN_SHOPS",
            "description": "Pawn Shops"
          },
          {
            "value": "PAYCHECK_LENDER_OR_CASH_ADVANCE",
            "description": "Paycheck lender or cash advance"
          },
          {
            "value": "PERIPHERALS",
            "description": "Peripherals"
          },
          {
            "value": "PERSONALIZED_GIFTS",
            "description": "Personalized Gifts"
          },
          {
            "value": "PET_SHOPS_PET_FOOD_AND_SUPPLIES",
            "description": "Pet shops, pet food, and supplies"
          },
          {
            "value": "PETROLEUM_AND_PETROLEUM_PRODUCTS",
            "description": "Petroleum and Petroleum Products"
          },
          {
            "value": "PETS_AND_ANIMALS",
            "description": "Pets and animals"
          },
          {
            "value": "PHOTOFINISHING_LABORATORIES_PHOTO_DEVELOPING",
            "description": "Photofinishing Laboratories,Photo Developing"
          },
          {
            "value": "PHOTOGRAPHIC_STUDIOS_PORTRAITS",
            "description": "Photographic studios - portraits"
          },
          {
            "value": "PHOTOGRAPHY",
            "description": "Photography"
          },
          {
            "value": "PHYSICAL_GOOD",
            "description": "Physical Good"
          },
          {
            "value": "PICTURE_VIDEO_PRODUCTION",
            "description": "Picture/Video Production"
          },
          {
            "value": "PIECE_GOODS_NOTIONS_AND_OTHER_DRY_GOODS",
            "description": "Piece Goods Notions and Other Dry Goods"
          },
          {
            "value": "PLANTS_AND_SEEDS",
            "description": "Plants and Seeds"
          },
          {
            "value": "PLUMBING_AND_HEATING_EQUIPMENTS_AND_SUPPLIES",
            "description": "Plumbing & Heating Equipments & Supplies"
          },
          {
            "value": "POLICE_RELATED_ITEMS",
            "description": "Police-Related Items"
          },
          {
            "value": "POLITICAL_ORGANIZATIONS",
            "description": "Politcal Organizations"
          },
          {
            "value": "POSTAL_SERVICES_GOVERNMENT_ONLY",
            "description": "Postal Services - Government Only"
          },
          {
            "value": "POSTERS",
            "description": "Posters"
          },
          {
            "value": "PREPAID_AND_STORED_VALUE_CARDS",
            "description": "Prepaid and stored value cards"
          },
          {
            "value": "PRESCRIPTION_DRUGS",
            "description": "Prescription Drugs"
          },
          {
            "value": "PROMOTIONAL_ITEMS",
            "description": "Promotional Items"
          },
          {
            "value": "PUBLIC_WAREHOUSING_AND_STORAGE",
            "description": "Public Warehousing and Storage"
          },
          {
            "value": "PUBLISHING_AND_PRINTING",
            "description": "Publishing and printing"
          },
          {
            "value": "PUBLISHING_SERVICES",
            "description": "Publishing Services"
          },
          {
            "value": "RADAR_DECTORS",
            "description": "Radar Dectors"
          },
          {
            "value": "RADIO_TELEVISION_AND_STEREO_REPAIR",
            "description": "Radio, television, and stereo repair"
          },
          {
            "value": "REAL_ESTATE",
            "description": "Real Estate"
          },
          {
            "value": "REAL_ESTATE_AGENT",
            "description": "Real estate agent"
          },
          {
            "value": "REAL_ESTATE_AGENTS_AND_MANAGERS_RENTALS",
            "description": "Real Estate Agents And Managers - Rentals"
          },
          {
            "value": "RELIGION_AND_SPIRITUALITY_FOR_PROFIT",
            "description": "Religion and spirituality for profit"
          },
          {
            "value": "RELIGIOUS",
            "description": "Religious"
          },
          {
            "value": "RELIGIOUS_ORGANIZATIONS",
            "description": "Religious Organizations"
          },
          {
            "value": "REMITTANCE",
            "description": "Remittance"
          },
          {
            "value": "RENTAL_PROPERTY_MANAGEMENT",
            "description": "Rental property management"
          },
          {
            "value": "RESIDENTIAL",
            "description": "Residential"
          },
          {
            "value": "RETAIL",
            "description": "Retail"
          },
          {
            "value": "RETAIL_FINE_JEWELRY_AND_WATCHES",
            "description": "Retail - fine jewelry and watches"
          },
          {
            "value": "REUPHOLSTERY_AND_FURNITURE_REPAIR",
            "description": "Reupholstery and furniture repair"
          },
          {
            "value": "RINGS",
            "description": "Rings"
          },
          {
            "value": "ROOFING_SIDING_SHEET_METAL",
            "description": "Roofing/Siding, Sheet Metal"
          },
          {
            "value": "RUGS_AND_CARPETS",
            "description": "Rugs & Carpets"
          },
          {
            "value": "SCHOOLS_AND_COLLEGES",
            "description": "Schools and Colleges"
          },
          {
            "value": "SCIENCE_FICTION",
            "description": "Science Fiction"
          },
          {
            "value": "SCRAPBOOKING",
            "description": "Scrapbooking"
          },
          {
            "value": "SCULPTURES",
            "description": "Sculptures"
          },
          {
            "value": "SECURITIES_BROKERS_AND_DEALERS",
            "description": "Securities - Brokers And Dealers"
          },
          {
            "value": "SECURITY_AND_SURVEILLANCE",
            "description": "Security and surveillance"
          },
          {
            "value": "SECURITY_AND_SURVEILLANCE_EQUIPMENT",
            "description": "Security and surveillance equipment"
          },
          {
            "value": "SECURITY_BROKERS_AND_DEALERS",
            "description": "Security brokers and dealers"
          },
          {
            "value": "SEMINARS",
            "description": "Seminars"
          },
          {
            "value": "SERVICE_STATIONS",
            "description": "Service Stations"
          },
          {
            "value": "SERVICES",
            "description": "Services"
          },
          {
            "value": "SEWING_NEEDLEWORK_FABRIC_AND_PIECE_GOODS_STORES",
            "description": "Sewing,Needlework,Fabric And Piece Goods Stores"
          },
          {
            "value": "SHIPPING_AND_PACKING",
            "description": "Shipping & Packaging"
          },
          {
            "value": "SHOE_REPAIR_HAT_CLEANING",
            "description": "Shoe Repair/Hat Cleaning"
          },
          {
            "value": "SHOE_STORES",
            "description": "Shoe Stores"
          },
          {
            "value": "SHOES",
            "description": "Shoes"
          },
          {
            "value": "SNOWMOBILE_DEALERS",
            "description": "Snowmobile Dealers"
          },
          {
            "value": "SOFTWARE",
            "description": "Software"
          },
          {
            "value": "SPECIALTY_AND_MISC._FOOD_STORES",
            "description": "Specialty and misc. food stores"
          },
          {
            "value": "SPECIALTY_CLEANING_POLISHING_AND_SANITATION_PREPARATIONS",
            "description": "Specialty Cleaning, Polishing And Sanitation Preparations"
          },
          {
            "value": "SPECIALTY_OR_RARE_PETS",
            "description": "Specialty or rare pets"
          },
          {
            "value": "SPORT_GAMES_AND_TOYS",
            "description": "Sport games and toys"
          },
          {
            "value": "SPORTING_AND_RECREATIONAL_CAMPS",
            "description": "Sporting And Recreational Camps"
          },
          {
            "value": "SPORTING_GOODS",
            "description": "Sporting Goods"
          },
          {
            "value": "SPORTS_AND_OUTDOORS",
            "description": "Sports and outdoors"
          },
          {
            "value": "SPORTS_AND_RECREATION",
            "description": "Sports & Recreation"
          },
          {
            "value": "STAMP_AND_COIN",
            "description": "Stamp and coin"
          },
          {
            "value": "STATIONARY_PRINTING_AND_WRITING_PAPER",
            "description": "Stationary, printing, and writing paper"
          },
          {
            "value": "STENOGRAPHIC_AND_SECRETARIAL_SUPPORT_SERVICES",
            "description": "Stenographic and secretarial support services"
          },
          {
            "value": "STOCKS_BONDS_SECURITIES_AND_RELATED_CERTIFICATES",
            "description": "Stocks, Bonds, Securities and Related Certificates"
          },
          {
            "value": "STORED_VALUE_CARDS",
            "description": "Stored Value Cards"
          },
          {
            "value": "SUPPLIES",
            "description": "Supplies"
          },
          {
            "value": "SUPPLIES_AND_TOYS",
            "description": "Supplies & Toys"
          },
          {
            "value": "SURVEILLANCE_EQUIPMENT",
            "description": "Surveillance Equipment"
          },
          {
            "value": "SWIMMING_POOLS_AND_SPAS",
            "description": "Swimming Pools & Spas"
          },
          {
            "value": "SWIMMING_POOLS_SALES_SUPPLIES_SERVICES",
            "description": "Swimming Pools-Sales,Supplies,Services"
          },
          {
            "value": "TAILORS_AND_ALTERATIONS",
            "description": "Tailors and alterations"
          },
          {
            "value": "TAX_PAYMENTS",
            "description": "Tax Payments"
          },
          {
            "value": "TAX_PAYMENTS_GOVERNMENT_AGENCIES",
            "description": "Tax Payments - Government Agencies"
          },
          {
            "value": "TAXICABS_AND_LIMOUSINES",
            "description": "Taxicabs and limousines"
          },
          {
            "value": "TELECOMMUNICATION_SERVICES",
            "description": "Telecommunication Services"
          },
          {
            "value": "TELEPHONE_CARDS",
            "description": "Telephone Cards"
          },
          {
            "value": "TELEPHONE_EQUIPMENT",
            "description": "Telephone Equipment"
          },
          {
            "value": "TELEPHONE_SERVICES",
            "description": "Telephone Services"
          },
          {
            "value": "THEATER",
            "description": "Theater"
          },
          {
            "value": "TIRE_RETREADING_AND_REPAIR",
            "description": "Tire Retreading and Repair"
          },
          {
            "value": "TOLL_OR_BRIDGE_FEES",
            "description": "Toll or Bridge Fees"
          },
          {
            "value": "TOOLS_AND_EQUIPMENT",
            "description": "Tools and equipment"
          },
          {
            "value": "TOURIST_ATTRACTIONS_AND_EXHIBITS",
            "description": "Tourist Attractions And Exhibits"
          },
          {
            "value": "TOWING_SERVICE",
            "description": "Towing service"
          },
          {
            "value": "TOYS_AND_GAMES",
            "description": "Toys and games"
          },
          {
            "value": "TRADE_AND_VOCATIONAL_SCHOOLS",
            "description": "Trade And Vocational Schools"
          },
          {
            "value": "TRADEMARK_INFRINGEMENT",
            "description": "Trademark Infringement"
          },
          {
            "value": "TRAILER_PARKS_AND_CAMPGROUNDS",
            "description": "Trailer Parks And Campgrounds"
          },
          {
            "value": "TRAINING_SERVICES",
            "description": "Training services"
          },
          {
            "value": "TRANSPORTATION_SERVICES",
            "description": "Transportation Services"
          },
          {
            "value": "TRAVEL",
            "description": "Travel"
          },
          {
            "value": "TRUCK_AND_UTILITY_TRAILER_RENTALS",
            "description": "Truck And Utility Trailer Rentals"
          },
          {
            "value": "TRUCK_STOP",
            "description": "Truck Stop"
          },
          {
            "value": "TYPESETTING_PLATE_MAKING_AND_RELATED_SERVICES",
            "description": "Typesetting, Plate Making, and Related Services"
          },
          {
            "value": "USED_MERCHANDISE_AND_SECONDHAND_STORES",
            "description": "Used Merchandise And Secondhand Stores"
          },
          {
            "value": "USED_PARTS_MOTOR_VEHICLE",
            "description": "Used parts - motor vehicle"
          },
          {
            "value": "UTILITIES",
            "description": "Utilities"
          },
          {
            "value": "UTILITIES_ELECTRIC_GAS_WATER_SANITARY",
            "description": "Utilities - Electric,Gas,Water,Sanitary"
          },
          {
            "value": "VARIETY_STORES",
            "description": "Variety Stores"
          },
          {
            "value": "VEHICLE_SALES",
            "description": "Vehicle sales"
          },
          {
[...]
