{
  "openapi": "3.0.3",
  "info": {
    "title": "Shipment Tracking",
    "description": "Merchants can use the PayPal Add Tracking API to manage tracking information. Merchants can add tracking numbers and associated information to PayPal. There are 2 ways in which tracking details can be shared to PayPal.\nIf you have a legacy integration that doesn't use the Orders v2 API, share tracking details through the <a href=\"/docs/tracking/tracking-api/\">Add Shipping Tracking API</a>. If you are using the Orders v2 API, share tracking details through the <a href=\"/docs/tracking/orders-api/integrate/\">Orders v2 API</a>.After adding these details to PayPal, merchants can:<ul><li>Update tracking details.</li><li>Show tracking details.</li><li>Cancel tracking numbers.</li></ul>For more information, see the <a href=\"/docs/tracking/tracking-api/\">Add Tracking API Overview</a> and <a href=\"/docs/tracking/tracking-api/integrate/\">Add Tracking API Integration Guide</a>.",
    "version": "1.9",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api-m.sandbox.paypal.com",
      "description": "PayPal Sandbox Environment"
    },
    {
      "url": "https://api-m.paypal.com",
      "description": "PayPal Live Environment"
    }
  ],
  "tags": [
    {
      "name": "trackers",
      "description": "Use the `/trackers` resource to create and manage tracking information for PayPal transactions."
    },
    {
      "name": "trackers-batch",
      "description": "Use the `/trackers-batch` resource to add tracking information for multiple PayPal transactions."
    },
    {
      "name": "carriers-recommend",
      "description": "Use the `/carriers-recommendations` to detect the possible carriers corresponding the tracking info from tracking aggregator."
    },
    {
      "name": "carriers",
      "description": "Use the `/carriers` resource to list/detect all the carriers available for tracking in PayPal and its subsidiary."
    },
    {
      "name": "shipments",
      "description": "Use the `/shipments` resource to fetch all the shipments associated with a given Paypal Account Id."
    },
    {
      "name": "shipment-tracker",
      "description": "Use the `/shipment-tracker` resource to track the shipment."
    },
    {
      "name": "unsubscribe-shipment-tracking",
      "description": "Use the `/unsubscribe-shipment-tracking` resource to unsubscribe from multiple shipments."
    },
    {
      "name": "shipment-trackings-update",
      "description": "Use the `/shipment-trackings-update` resource to update shipments with live tracking data."
    },
    {
      "name": "tracking-shipments",
      "description": "Use the `/tracking-shipments` resource to track shipments."
    }
  ],
  "externalDocs": {
    "url": "https://developer.paypal.com/docs/api/tracking/v1/"
  },
  "paths": {
    "/v1/shipping/trackers-batch": {
      "post": {
        "summary": "Add tracking information for multiple PayPal transactions",
        "description": "<blockquote><strong>Deprecation notice:</strong> Adding tracking details for an order through <code>/v1/shipping/trackers-batch</code> is deprecated as its a legacy way of integration. Use the new <a href=\"/docs/tracking/orders-api/integrate/\">Orders v2 API</a> to share tracking details with PayPal.</blockquote>Adds tracking information, with or without tracking numbers, for multiple PayPal transactions. Accepts up to 20 tracking IDs. For more information, see <a href=\"/docs/tracking/tracking-api/integrate/#link-addtrackinginformationwithtrackingnumbers\">Add tracking information with tracking numbers</a> and <a href=\"/docs/tracking/tracking-api/integrate/#link-addtrackinginformationwithouttrackingnumbers\">Add tracking information without tracking numbers</a>.",
        "operationId": "trackers-batch.post",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP 200 OK status code and a JSON response body that shows tracking information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/batch_tracker_collection"
                }
              }
            }
          },
          "400": {
            "description": "The request is not well-formed, syntactically incorrect, or violates schema."
          },
          "403": {
            "description": "The authorization failed due to insufficient permissions."
          },
          "404": {
            "description": "The specified resource does not exist."
          },
          "500": {
            "description": "An internal server error has occurred."
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/tracker_collection"
        },
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/shipping/trackers/readwrite"
            ]
          }
        ],
        "tags": ["trackers-batch"]
      }
    },
    "/v1/shipping/trackers": {
      "post": {
        "summary": "Add tracking information for PayPal transaction",
        "description": "Adds tracking information for a PayPal transaction.",
        "operationId": "trackers.post",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP 200 OK status code and a JSON response body that shows tracking information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tracker_identifier_collection"
                }
              }
            }
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/tracker_collection"
        },
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/shipping/trackers/readwrite"
            ]
          }
        ],
        "tags": ["trackers"]
      },
      "get": {
        "summary": "List tracking information",
        "description": "Lists tracking information that meet search criteria. The tracking ID is required but the tracking number is optional.",
        "operationId": "trackers-batch.get",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP 200 OK status code and a JSON response body that lists tracking information that meets search criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tracker"
                }
              }
            }
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/transaction_id"
          },
          {
            "$ref": "#/components/parameters/tracking_number"
          },
          {
            "$ref": "#/components/parameters/account_id"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/shipping/trackers/read",
              "https://uri.paypal.com/services/shipping/trackers/readwrite"
            ]
          }
        ],
        "tags": ["trackers"]
      }
    },
    "/v1/shipping/trackers/{id}": {
      "put": {
        "summary": "Update or cancel tracking information for PayPal transaction",
        "description": "Updates or cancels the tracking information for a PayPal transaction, by ID. To cancel tracking information, call this method and set the status to CANCELLED. For more information, see <a href=\"/docs/tracking/tracking-api/integrate/#link-updateorcanceltrackinginformation\">Update or cancel tracking information</a>.",
        "operationId": "trackers.put",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP 204 OK status code with no JSON response body."
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tracker"
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/shipping/trackers/readwrite"
            ]
          }
        ],
        "tags": ["trackers"]
      },
      "get": {
        "summary": "Show tracking information",
        "description": "Shows tracking information, by tracker ID, for a PayPal transaction.",
        "operationId": "trackers.get",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows tracking information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tracker"
                }
              }
            }
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/account_id"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/shipping/trackers/read",
              "https://uri.paypal.com/services/shipping/trackers/readwrite"
            ]
          }
        ],
        "tags": ["trackers"]
      }
    }
  },
  "components": {
    "requestBodies": {
      "tracker_collection": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/tracker_collection"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "type": "oauth2",
        "description": "Oauth 2.0 authentication",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/v1/oauth2/token",
            "scopes": {
              "https://uri.paypal.com/services/shipping/trackers/readwrite": "Create or update tracking information",
              "https://uri.paypal.com/services/shipping/trackers/read": "Retrieve tracking information"
            }
          }
        }
      }
    },
    "schemas": {
      "batch_tracker_collection": {
        "type": "object",
        "title": "Batch Tracker Collection",
        "description": "The add tracking information for multiple PayPal transactions response details.",
        "properties": {
          "tracker_identifiers": {
            "$ref": "#/components/schemas/tracker_identifier_list"
          },
          "errors": {
            "$ref": "#/components/schemas/error_list"
          },
          "links": {
            "$ref": "#/components/schemas/batch_tracker_collection_definitions-link_description_list"
          }
        }
      },
      "batch_tracker_collection_definitions-link_description_list": {
        "type": "array",
        "description": "An array of request-related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links).",
        "readOnly": true,
        "items": {
          "$ref": "#/components/schemas/link_description"
        },
        "minItems": 1,
        "maxItems": 1
      },
      "carrier": {
        "type": "string",
        "title": "Carrier",
        "description": "The carrier for the shipment. Carrier information is required when tracking_number is provided. Some carriers have a global version as well as local subsidiaries. The subsidiaries are repeated over many countries and might also have an entry in the global list. Choose the carrier for your country. If the carrier is not available for your country, choose the global version of the carrier. If your carrier name is not in the list, set `carrier` to `OTHER` and set carrier name in `carrier_name_other`. For allowed values, see <a href=\"/docs/tracking/reference/carriers/\">Carriers</a>.",
        "minLength": 1,
        "maxLength": 64,
        "pattern": "^.*$",
        "x-enumDescriptions": [
          {
            "value": "2EBOX",
            "description": "<a href=\"https://2eboxcasilla.com/\">2ebox courier</a>."
          },
          {
            "value": "360LION",
            "description": "<a href=\"https://www.360lion.com/\">360 Lion Express</a>."
          },
          {
            "value": "3JMSLOGISTICS",
            "description": "<a href=\"https://3jmslogistics.com/\">3JMS Logistics</a>."
          },
          {
            "value": "4_72",
            "description": "4-72 Entregando"
          },
          {
            "value": "6LS",
            "description": "<a href=\"http://www.6ls.cc/\">6ls.com</a>."
          },
          {
            "value": "A1POST",
            "description": "<a href=\"https://a1post.bg/\">A1Post</a>."
          },
          {
            "value": "AAA_COOPER",
            "description": "<a href=\"https://www.aaacooper.com/\">AAA Cooper</a>."
          },
          {
            "value": "ABCUSTOM",
            "description": "<a href=\"https://www.abcustom.es/portal/en/home\">AB Custom Group</a>."
          },
          {
            "value": "ABXEXPRESS_MY",
            "description": "<a href=\"https://www.abxexpress.com.my/\">ABX Express</a>."
          },
          {
            "value": "ACOMMMERCE",
            "description": "<a href=\"https://www.acommerce.asia/\">aCommerce</a>."
          },
          {
            "value": "ACSWORLDWIDE",
            "description": "<a href=\"http://www.acsnets.com/\">ACS Worldwide Express</a>."
          },
          {
            "value": "ACS_GR",
            "description": "<a href=\"https://www.acscourier.net/\">ACS Courier</a>."
          },
          {
            "value": "ADERONLINE",
            "description": "<a href=\"http://aderonline.com\">Ader couriers</a>."
          },
          {
            "value": "ADICIONAL",
            "description": "<a href=\"http://www.adicional.pt/\">Adicional Logistics</a>."
          },
          {
            "value": "ADSONE",
            "description": "<a href=\"https://www.adsone.com.au/\">ADSone</a>."
          },
          {
            "value": "ADUIEPYLE",
            "description": "<a href=\"https://www.aduiepyle.com/\">A Duie Pyle</a>."
          },
          {
            "value": "AERONET",
            "description": "<a href=\"https://www.aeronet.com/\">Aeronet couriers</a>."
          },
          {
            "value": "AEX",
            "description": "<a href=\"https://www.aex.com.py/web/\">AEX Group</a>."
          },
          {
            "value": "AFLLOG_FTP",
            "description": "<a href=\"https://www.afllog.com/\">AFL LOGISTICS</a>."
          },
          {
            "value": "AGILITY",
            "description": "<a href=\"https://www.agility.com/en/homepage/\">Agility</a>."
          },
          {
            "value": "AIRMEE_WEBHOOK",
            "description": "<a href=\"https://www.airmee.com/\">Airmee couriers</a>."
          },
          {
            "value": "AIR_CANADA_GLOBAL",
            "description": "<a href=\"https://www.rivolution.com/\">Rivo (Air canada)</a>."
          },
          {
            "value": "ALFATREX",
            "description": "<a href=\"www.alfatrex.id\">AlfaTrex</a>."
          },
          {
            "value": "ALLIEDEXPRESS",
            "description": "<a href=\"https://www.alliedexpress.com.au/\">Allied Express</a>."
          },
          {
            "value": "ALLJOY",
            "description": "<a href=\"http://www.alljoylogistics.com/\">ALLJOY SUPPLY CHAIN</a>."
          },
          {
            "value": "ALPHAFAST",
            "description": "<a href=\"http://www.alphafast.com/\">Alphafast (www.alphafast.com)</a>."
          },
          {
            "value": "ALWAYS_EXPRESS",
            "description": "<a href=\"https://www.always-express.com\">Always Express</a>."
          },
          {
            "value": "AMAZON",
            "description": "<a href=\"https://ship.amazon.co.uk/requestinfo\">Amazon Shipping</a>."
          },
          {
            "value": "AMAZON_FBA_SWISHIP",
            "description": "<a href=\"https://swiship.co.uk/\">Swiship UK</a>."
          },
          {
            "value": "AMAZON_SHIP_MCF",
            "description": "<a href=\"https://www.amazon.com/\">Amazon Shipping + Amazon MCF</a>."
          },
          {
            "value": "AMSTAN",
            "description": "<a href=\"https://amstan.com/\">Amstan Logistics</a>."
          },
          {
            "value": "AMS_GRP",
            "description": "<a href=\"https://www.amsegroup.com.au/\">AMS Group</a>."
          },
          {
            "value": "ANDREANI",
            "description": "<a href=\"https://www.andreani.com/\">Grupo logistico Andreani</a>."
          },
          {
            "value": "ANICAM_BOX",
            "description": "<a href=\"https://www.anicamboxexpress.com/\">ANICAM BOX EXPRESS</a>."
          },
          {
            "value": "ANJUN",
            "description": "<a href=\"http://www.szanjun.com/\">Anjun couriers</a>."
          },
          {
            "value": "ANSERX",
            "description": "<a href=\"http://www.anserx.com/\">ANSERX courier</a>."
          },
          {
            "value": "AN_POST",
            "description": "<a href=\"https://www.anpost.ie/AnPost/\">An Post</a>."
          },
          {
            "value": "AO_COURIER",
            "description": "<a href=\"https://ao.com/\">AO Logistics</a>."
          },
          {
            "value": "AO_DEUTSCHLAND",
            "description": "<a href=\"https://www.ao.de/\">AO Deutschland</a>."
          },
          {
            "value": "APC_OVERNIGHT",
            "description": "<a href=\"https://www.apc-overnight.com/\">APC overnight (apc-overnight.com)</a>."
          },
          {
            "value": "APC_OVERNIGHT_CONNUM",
            "description": "<a href=\"https://apc-overnight.com/\">APC Overnight Consignment</a>."
          },
          {
            "value": "APG",
            "description": "<a href=\"https://apgecommerce.com/\">APG eCommerce Solutions</a>."
          },
          {
            "value": "APRISAEXPRESS",
            "description": "<a href=\"http://www.aprisaexpress.com\">Aprisa Express</a>."
          },
          {
            "value": "AQUILINE",
            "description": "<a href=\"https://aquiline-tracking.com/\">Aquiline</a>."
          },
          {
            "value": "ARAMEX",
            "description": "<a href=\"https://www.aramex.com/\">Aramex</a>."
          },
          {
            "value": "ARAMEX_AU",
            "description": "<a href=\"https://www.aramex.com.au/\">Aramex Australia (formerly Fastway AU)</a>."
          },
          {
            "value": "ARCO_SPEDIZIONI",
            "description": "<a href=\"https://www.arcospedizioni.it/\">Arco Spedizioni SP</a>."
          },
          {
            "value": "ARE_EMIRATES_POST",
            "description": "<a href=\"https://www.epg.gov.ae/\">Emirates Post</a>."
          },
          {
            "value": "ARG_OCA",
            "description": "<a href=\"https://www.oca.com.ar/\">OCA Argentina</a>."
          },
          {
            "value": "ARK_LOGISTICS",
            "description": "<a href=\"https://arklogistics.co.uk\">ARK Logistics</a>."
          },
          {
            "value": "ASE",
            "description": "<a href=\"https://www.ase.com.tr/\">ASE KARGO</a>."
          },
          {
            "value": "ASENDIA_HK",
            "description": "<a href=\"https://www.asendia.hk\">Asendia HonKong</a>."
          },
          {
            "value": "ASENDIA_UK",
            "description": "<a href=\"https://www.asendia.co.uk/\">Asendia UK</a>."
          },
          {
            "value": "ASENDIA_USA",
            "description": "<a href=\"http://www.brokersworldwide.com/\">Asendia USA</a>."
          },
          {
            "value": "ASIGNA",
            "description": "<a href=\"http://www.logisticacanaria.es/\">ASIGNA courier</a>."
          },
          {
            "value": "AUPOST_CN",
            "description": "<a href=\"https://www.aupost.org/\">AuPost China</a>."
          },
          {
            "value": "AUSTRIAN_POST_EXPRESS",
            "description": "<a href=\"http://www.post.at\">austrian post</a>."
          },
          {
            "value": "AUS_STARTRACK",
            "description": "<a href=\"https://startrack.com.au/\">StarTrack (startrack.com.au)</a>."
          },
          {
            "value": "AUS_TOLL",
            "description": "<a href=\"https://www.tollpriority.com.au/portal/page/portal/TOLL_PRIORITY/Home\">TOLL Australia</a>."
          },
          {
            "value": "AU_AUSTRIAN_POST",
            "description": "<a href=\"http://www.post.at\">Austrian Post (Registered)</a>."
          },
          {
            "value": "AU_AU_POST",
            "description": "<a href=\"https://auspost.com.au/\">Australia Post</a>."
          },
          {
            "value": "AU_TNT",
            "description": "<a href=\"https://www.tntexpress.com.au/\">TNT Australia</a>."
          },
          {
            "value": "AVERITT",
            "description": "<a href=\"https://www.averittexpress.com/\">Averitt Express</a>."
          },
          {
            "value": "BEL_DHL",
            "description": "<a href=\"http://www.dhl.nl/\">DHL Benelux</a>."
          },
          {
            "value": "BEL_RS",
            "description": "<a href=\"https://www.8256ru.com\">BEL North Russia</a>."
          },
          {
            "value": "BESTWAYPARCEL",
            "description": "<a href=\"http://bestwayparcel.com/\">Best Way Parcel</a>."
          },
          {
            "value": "BE_BPOST",
            "description": "<a href=\"https://www.bpost.be/\">Bpost (www.bpost.be)</a>."
          },
          {
            "value": "BE_KIALA",
            "description": "<a href=\"https://www.kiala.nl/\">Kiala</a>."
          },
          {
            "value": "BG_BULGARIAN_POST",
            "description": "<a href=\"https://www.bgpost.bg/\">Bulgarian Posts</a>."
          },
          {
            "value": "BH_POSTA",
            "description": "<a href=\"https://www.posta.ba/\">BH Posta (www.posta.ba)</a>."
          },
          {
            "value": "BH_WORLDWIDE",
            "description": "<a href=\"https://www.bhworldwide.com\">B&H Worldwide</a>."
          },
          {
            "value": "BIRDSYSTEM",
            "description": "<a href=\"https://www.birdsystem.co.uk/\">BirdSystem</a>."
          },
          {
            "value": "BJSHOMEDELIVERY",
            "description": "<a href=\"https://www.bjshomedelivery.com/\">BJS Distribution courier</a>."
          },
          {
            "value": "BLINKLASTMILE",
            "description": "<a href=\"https://blinklastmile.com/\">Blink</a>."
          },
          {
            "value": "BLR_BELPOST",
            "description": "<a href=\"https://www.belpost.by\">Belpost</a>."
          },
          {
            "value": "BLUECARE",
            "description": "<a href=\"https://www.bluecare.express/\">Bluecare Express Ltd</a>."
          },
          {
            "value": "BLUESTAR",
            "description": "<a href=\"http://www.bluestarlogistics.com.au/\">Blue Star</a>."
          },
          {
            "value": "BLUEX",
            "description": "<a href=\"https://www.bluex.cl/PortalPublico/index.xhtml\">Blue Express</a>."
          },
          {
            "value": "BNEED",
            "description": "<a href=\"http://www.bneed.pt/\">Bneed courier</a>."
          },
          {
            "value": "BOMBINOEXP",
            "description": "<a href=\"https://www.bombinoexp.com/\">Bombino Express Pvt</a>."
          },
          {
            "value": "BOND",
            "description": "<a href=\"https://www.withbond.com/\">Bond courier</a>."
          },
          {
            "value": "BONDSCOURIERS",
            "description": "<a href=\"https://www.bondscouriers.com.au\">Bonds Courier Service (bondscouriers.com.au)</a>."
          },
          {
            "value": "BORDEREXPRESS",
            "description": "<a href=\"https://www.borderexpress.com.au/\">Border Express</a>."
          },
          {
            "value": "BOX_BERRY",
            "description": "<a href=\"https://boxberry.ru\">Boxberry courier</a>."
          },
          {
            "value": "BPOST_INT",
            "description": "<a href=\"http://www.bpostinternational.com/\">Bpost international</a>."
          },
          {
            "value": "BRA_CORREIOS",
            "description": "<a href=\"https://correios.com.br/\">Correios Brazil</a>."
          },
          {
            "value": "BRING",
            "description": "<a href=\"https://www.bring.com/\">Bring</a>."
          },
          {
            "value": "BROUWER_TRANSPORT",
            "description": "<a href=\"https://brtl.nl/nl\">Brouwer Transport en Logistiek</a>."
          },
          {
            "value": "BRT_IT",
            "description": "<a href=\"https://www.brt.it/\">BRT couriers Italy (www.brt.it)</a>."
          },
          {
            "value": "BRT_IT_PARCELID",
            "description": "<a href=\"https://www.brt.it/\">BRT Bartolini(Parcel ID)</a>."
          },
          {
            "value": "BRT_IT_SENDER_REF",
            "description": "<a href=\"https://www.brt.it\">BRT Bartolini(Sender Reference)</a>."
          },
          {
            "value": "BUDBEE_WEBHOOK",
            "description": "<a href=\"https://budbee.com/en/\">Budbee courier</a>."
          },
          {
            "value": "BUYLOGIC",
            "description": "<a href=\"http://www.buylogic.cc/\">buylogic</a>."
          },
          {
            "value": "B_TWO_C_EUROPE",
            "description": "<a href=\"https://b2ceurope.eu/\">B2C courier Europe</a>."
          },
          {
            "value": "CAE_DELIVERS",
            "description": "<a href=\"https://caedelivers.com\">CAE Delivers</a>."
          },
          {
            "value": "CAINIAO",
            "description": "<a href=\"https://global.cainiao.com/\">AliExpress Standard Shipping</a>."
          },
          {
            "value": "CARIBOU",
            "description": "<a href=\"https://wearecaribou.com/\">Caribou</a>."
          },
          {
            "value": "CARRIERS",
            "description": "<a href=\"https://www.carriers.com.br/site/\">Carriers courier</a>."
          },
          {
            "value": "CARRY_FLAP",
            "description": "<a href=\"https://carry-flap.com/\">Carry-Flap Co.</a>."
          },
          {
            "value": "CA_CANADA_POST",
            "description": "<a href=\"https://www.canadapost.ca/\">Canada Post</a>."
          },
          {
            "value": "CA_CANPAR",
            "description": "<a href=\"https://www.canpar.ca/en/home.jsp\">Canpar Courier</a>."
          },
          {
            "value": "CA_GREYHOUND",
            "description": "<a href=\"https://www.shipgreyhound.com/\">Greyhound</a>."
          },
          {
            "value": "CA_PUROLATOR",
            "description": "<a href=\"https://www.purolator.com/\">Purolator</a>."
          },
          {
            "value": "CBL_LOGISTICA",
            "description": "<a href=\"https://www.cbl-logistica.com\">CBL Logistica</a>."
          },
          {
            "value": "CDEK",
            "description": "<a href=\"https://cdek.ru/\">CDEK courier</a>."
          },
          {
            "value": "CDEK_TR",
            "description": "<a href=\"www.cdek.com.tr\">CDEK TR</a>."
          },
          {
            "value": "CELERITAS",
            "description": "<a href=\"https://celeritastransporte.com/\">Celeritas Transporte</a>."
          },
          {
            "value": "CELLO_SQUARE",
            "description": "<a href=\"https://www.cellologistics.com/cellosq/web/pc/html/eng/square/overview.html?param=0___btn_goto_main\">Cello Square</a>."
          },
          {
            "value": "CESKA_CZ",
            "description": "<a href=\"http://www.ceskaposta.cz/\">Czech Post</a>."
          },
          {
            "value": "CEVA",
            "description": "<a href=\"https://www.cevalogistics.com/\">CEVA LOGISTICS</a>."
          },
          {
            "value": "CFL_LOGISTICS",
            "description": "<a href=\"http://www.cflhk.com/en/\">CFL Logistics</a>."
          },
          {
            "value": "CGS_EXPRESS",
            "description": "<a href=\"http://cgs-express.com/\">CGS Express</a>."
          },
          {
            "value": "CHAMPION_LOGISTICS",
            "description": "<a href=\"https://www.champlog.com/\">Champion Logistics</a>."
          },
          {
            "value": "CHITCHATS",
            "description": "<a href=\"https://chitchats.com\">Chit Chats</a>."
          },
          {
            "value": "CHOIR_EXP",
            "description": "<a href=\"https://choirexpress.co.id/id\">Choir Express Indonesia</a>."
          },
          {
            "value": "CHROBINSON",
            "description": "<a href=\"https://www.chrobinson.com/\">C.H. Robinson Worldwide</a>."
          },
          {
            "value": "CHRONOPOST_FR",
            "description": "<a href=\"https://www.chronopost.fr/\">Chronopost france (www.chronopost.fr)</a>."
          },
          {
            "value": "CHUKOU1",
            "description": "<a href=\"https://www.chukou1.com/\">Chukou1</a>."
          },
          {
            "value": "CH_SWISS_POST_PRIORITY",
            "description": "<a href=\"https://www.post.ch/\">Swiss Post</a>."
          },
          {
            "value": "CITYLINK_MY",
            "description": "<a href=\"https://www.citylinkexpress.com/\">City-Link Express</a>."
          },
          {
            "value": "CJPACKET",
            "description": "<a href=\"https://cjpacket.com/\">CJ Packet</a>."
          },
          {
            "value": "CJ_CENTURY",
            "description": "<a href=\"https://www.cjlogistics.com/en/network/en-my\">CJ Century</a>."
          },
          {
            "value": "CJ_GLS",
            "description": "<a href=\"http://www.cjgls.com/eng/\">CJ GLS</a>."
          },
          {
            "value": "CJ_HK_INTERNATIONAL",
            "description": "<a href=\"https://www.cjlogistics.com/en/main\">CJ Logistics International(Hong Kong)</a>."
          },
          {
            "value": "CJ_INT_MY",
            "description": "<a href=\"https://www.cjlogistics.com/en/network/en-my\">CJ International malaysia</a>."
          },
          {
            "value": "CJ_KR",
            "description": "<a href=\"https://www.cjlogistics.com/en/network/th-th\">CJ Korea Express</a>."
          },
          {
            "value": "CJ_LOGISTICS",
            "description": "<a href=\"https://www.cjlogistics.com/en/network/en-sg\">CJ Logistics International</a>."
          },
          {
            "value": "CJ_TH",
            "description": "<a href=\"https://www.cjlogistics.com/en/network/en-ph\">CJ Transnational Philippines</a>."
          },
          {
            "value": "CLEVY_LINKS",
            "description": "<a href=\"https://clevylinks.com/\">Clevy Links</a>."
          },
          {
            "value": "CLE_LOGISTICS",
            "description": "<a href=\"http://www.clels.com\">CL E-Logistics Solutions Limited</a>."
          },
          {
            "value": "CLOUDWISH_ASIA",
            "description": "<a href=\"https://www.cloudwish.asia/\">Cloudwish Asia</a>."
          },
          {
            "value": "CNDEXPRESS",
            "description": "<a href=\"http://www.cndexpress.com/\">CND Express</a>."
          },
          {
            "value": "CNEXPS",
            "description": "<a href=\"http://www.cne.com/\">CNE Express</a>."
          },
          {
            "value": "CNWANGTONG",
            "description": "<a href=\"https://cnwangtong.com/\">cnwangtong</a>."
          },
          {
            "value": "CN_17POST",
            "description": "<a href=\"http://17postservice.com/\">17 Post Service</a>."
          },
          {
            "value": "CN_BESTEXPRESS",
            "description": "<a href=\"https://www.800bestex.com/\">Best Express</a>."
          },
          {
            "value": "CN_BOXC",
            "description": "<a href=\"https://boxc.com/\">BoxC courier</a>."
          },
          {
            "value": "CN_CHINA_POST_EMS",
            "description": "<a href=\"http://yjcx.chinapost.com.cn/\">China Post</a>."
          },
          {
            "value": "CN_DPEX",
            "description": "<a href=\"https://www.dpex.com\">DPEX</a>."
          },
          {
            "value": "CN_EMS",
            "description": "<a href=\"http://yjcx.chinapost.com.cn/qps/yjcx\">EMS China (www.ems.post)</a>."
          },
          {
            "value": "CN_EQUICK",
            "description": "<a href=\"https://www.equick.cn\">Equick China</a>."
          },
          {
            "value": "CN_JCEX",
            "description": "<a href=\"https://www.jcex.com\">JCEX courier</a>."
          },
          {
            "value": "CN_PAYPAL_PACKAGE",
            "description": "<a href=\"http://www.ppbyb.com/\">PayPal Package</a>."
          },
          {
            "value": "CN_POST56",
            "description": "<a href=\"http://www.post56.cn/\">Post56</a>."
          },
          {
            "value": "CN_SF_EXPRESS",
            "description": "<a href=\"https://www.sf-express.com/\">SF Express (www.sf-express.com)</a>."
          },
          {
            "value": "CN_STO",
            "description": "<a href=\"https://www.sto.cn/\">STO Express</a>."
          },
          {
            "value": "CN_WEDO",
            "description": "<a href=\"http://www.wedoexpress.com/\">WeDo Logistics</a>."
          },
          {
            "value": "CN_WISHPOST",
            "description": "<a href=\"https://www.wishpost.cn/\">WishPost</a>."
          },
          {
            "value": "CN_YUNDA",
            "description": "<a href=\"http://www.yundaex.com/\">Yunda Express</a>."
          },
          {
            "value": "COLIS_PRIVE",
            "description": "<a href=\"https://www.colisprive.com/moncolis/\">Colis Privé</a>."
          },
          {
            "value": "COLLECTCO",
            "description": "<a href=\"https://collectco.my\">CollectCo</a>."
          },
          {
            "value": "COLLIVERY",
            "description": "<a href=\"https://www.collivery.net\">MDS Collivery Pty (Ltd)</a>."
          },
          {
            "value": "COMET_TECH",
            "description": "<a href=\"https://comet-tech.com.cn/\">CometTech</a>."
          },
          {
            "value": "CONTINENTAL",
            "description": "<a href=\"https://www.contin-global.com/\">Continental</a>."
          },
          {
            "value": "CON_WAY",
            "description": "<a href=\"https://www.con-way.com\">Con-way Freight</a>."
          },
          {
            "value": "COORDINADORA",
            "description": "<a href=\"https://www.coordinadora.com/\">Coordinadora</a>."
          },
          {
            "value": "COPA_COURIER",
            "description": "<a href=\"https://www.copacourier.com\">Copa Airlines Courier</a>."
          },
          {
            "value": "COPE",
            "description": "<a href=\"https://www.cope.com.au/\">Cope Sensitive Freight</a>."
          },
          {
            "value": "CORPORATECOURIERS_WEBHOOK",
            "description": "<a href=\"https://www.corporatecouriers.net/\">Corporate Couriers</a>."
          },
          {
            "value": "CORREOS_DE_MEXICO",
            "description": "<a href=\"http://www.correosdemexico.com.mx/Paginas/Inicio.aspx\">correos mexico</a>."
          },
          {
            "value": "CORREOS_ES",
            "description": "<a href=\"https://www.correos.es\">correos Express (www.correos.es)</a>."
          },
          {
            "value": "CORREOS_EXPRESS",
            "description": "<a href=\"https://www.correosexpress.com\">Correos Express</a>."
          },
          {
            "value": "CORREO_UY",
            "description": "<a href=\"https://www.correo.com.uy/home\">Correo Uruguayo</a>."
          },
          {
            "value": "COSTMETICSNOW",
            "description": "<a href=\"https://www.cosmeticsnow.com/\">Cosmetics Now</a>."
          },
          {
            "value": "COURANT_PLUS",
            "description": "<a href=\"https://courant.plus/\">Courant Plus</a>."
          },
          {
            "value": "COUREX",
            "description": "<a href=\"https://www.urbanfox.asia/\">Urbanfox</a>."
          },
          {
            "value": "COURIERS_PLEASE",
            "description": "<a href=\"https://www.couriersplease.com.au\">CouriersPlease (couriersplease.com.au)</a>."
          },
          {
            "value": "CPACKET",
            "description": "<a href=\"http://www.canadaposteway.cn\">Cpacket couriers</a>."
          },
          {
            "value": "CPEX",
            "description": "<a href=\"http://www.cpex.ltd\">Captain Express International</a>."
          },
          {
            "value": "CROSHOT",
            "description": "<a href=\"https://www.croshot.com/\">Croshot</a>."
          },
          {
            "value": "CSE",
            "description": "<a href=\"https://www.cse.ru/\">CSE courier</a>."
          },
          {
            "value": "CTC_EXPRESS",
            "description": "<a href=\"www.ctc-express.com.tw\">CTC Express</a>."
          },
          {
            "value": "CUBYN",
            "description": "<a href=\"https://www.cubyn.com/\">Cubyn</a>."
          },
          {
            "value": "CUCKOOEXPRESS",
            "description": "<a href=\"http://www.cuckooexpress.com/\">Cuckoo Express</a>."
          },
          {
            "value": "CYPRUS_POST_CYP",
            "description": "<a href=\"https://www.cypruspost.post/\">cyprus post</a>."
          },
          {
            "value": "DAIGLOBALTRACK",
            "description": "<a href=\"https://www.daipost.com/\">DAI Post</a>."
          },
          {
            "value": "DAJIN",
            "description": "<a href=\"http://www.aqrum.com/\">Shanghai Aqrum Chemical Logistics Co.Ltd</a>."
          },
          {
            "value": "DANSKE_FRAGT",
            "description": "<a href=\"https://www.fragt.dk/\">Danske Fragtaend</a>."
          },
          {
            "value": "DAWN_WING",
            "description": "<a href=\"http://www.dawnwing.co.za/\">Dawn Wing</a>."
          },
          {
            "value": "DAYTON_FREIGHT",
            "description": "<a href=\"https://www.daytonfreight.com/\">Dayton Freight</a>."
          },
          {
            "value": "DBSCHENKER_B2B",
            "description": "<a href=\"https://www.schenker.nu/online_network/prod/WebCos_001/TrackingB2B_C1\">DB Schenker B2B</a>."
          },
          {
            "value": "DBSCHENKER_SE",
            "description": "<a href=\"https://www.dbschenker.com/\">DB Schenker (www.dbschenker.com)</a>."
          },
          {
            "value": "DBSCHENKER_SV",
            "description": "<a href=\"https://www.dbschenker.com/se-sv\">DB Schenker Sweden</a>."
          },
          {
            "value": "DDEXPRESS",
            "description": "<a href=\"https://dd.express/\">DD Express Courier</a>."
          },
          {
            "value": "DEALERSEND",
            "description": "<a href=\"https://www.dealer-send.com/en\">DealerSend</a>."
          },
          {
            "value": "DELIVERYONTIME",
            "description": "<a href=\"http://www.bizlog.in\">DELIVERYONTIME LOGISTICS PVT LTD</a>."
          },
          {
            "value": "DELNEXT",
            "description": "<a href=\"https://www.delnext.com/EN/\">Delnext</a>."
          },
          {
            "value": "DELTEC_UK",
            "description": "<a href=\"https://www.deltec-courier.com/\">Deltec Courier</a>."
          },
          {
            "value": "DEMANDSHIP",
            "description": "<a href=\"http://www.demandship.com/\">DemandShip</a>."
          },
          {
            "value": "DESCARTES",
            "description": "<a href=\"https://www.innovelsolutions.com\">Innovel courier</a>."
          },
          {
            "value": "DESIGNERTRANSPORT_WEBHOOK",
            "description": "<a href=\"https://designertransport.com.au/\">Designer Transport</a>."
          },
          {
            "value": "DESTINY",
            "description": "<a href=\"https://www.destinyltl.com/\">Destiny Transportation</a>."
          },
          {
            "value": "DEX_I",
            "description": "<a href=\"http://www.dex-i.com/\">DEX-I courier</a>."
          },
          {
            "value": "DE_ASENDIA",
            "description": "<a href=\"https://www.asendia.de/\">Asendia Germany</a>."
          },
          {
            "value": "DE_DEUTSCHE",
            "description": "<a href=\"https://www.deutschepost.de/sendung/simpleQuery.html\">Deutsche post</a>."
          },
          {
            "value": "DE_DEUTSCHE_POST_DHL_WITHIN_EUROPE_TRACKNET",
            "description": "<a href=\"https://www.dhl.de/\">Deutsche Post DHL</a>."
          },
          {
            "value": "DE_DHL_EXPRESS",
            "description": "<a href=\"http://www.dhl.com/\">DHL Express</a>."
          },
          {
            "value": "DE_DPD_DELISTRACK",
            "description": "<a href=\"https://www.dpd.com/de_privatkunden/\">DPD Germany</a>."
          },
          {
            "value": "DE_GLS",
            "description": "<a href=\"https://gls-group.eu/EU/en/home\">GLS parcel services (www.gls-group.eu)</a>."
          },
          {
            "value": "DHL",
            "description": "<a href=\"https://mydhl.express.dhl\">dhl Global</a>."
          },
          {
            "value": "DHL_ACTIVE_TRACING",
            "description": "<a href=\"https://activetracing.dhl.com/DatPublic/datSelection.do\">DHL Active Tracing</a>."
          },
          {
            "value": "DHL_AU",
            "description": "<a href=\"https://www.logistics.dhl/us-en/home/our-divisions/supply-chain.html\">DHL Supply Chain Australia</a>."
          },
          {
            "value": "DHL_BENELUX",
            "description": "<a href=\"http://www.dhl.nl/\">dhl benelux</a>."
          },
          {
            "value": "DHL_ECOMERCE_ASA",
            "description": "<a href=\"https://www.logistics.dhl/global-en/home/our-divisions/ecommerce.html\">DHL eCommerce Asia (API)</a>."
          },
          {
            "value": "DHL_ES",
            "description": "<a href=\"http://www.dhl.es/\">DHL Spain(www.dhl.com)</a>."
          },
          {
            "value": "DHL_FR",
            "description": "<a href=\"https://webtrack.dhlglobalmail.com/\">DHL France (www.dhl.com)</a>."
          },
          {
            "value": "DHL_FREIGHT",
            "description": "<a href=\"https://www.dhl.com/global-en/home/our-divisions/freight.html\">DHL Freight</a>."
          },
          {
            "value": "DHL_GLOBAL_MAIL_ASIA",
            "description": "<a href=\"https://ecommerceportal.dhl.com/track/\">DHL Global Mail Asia (www.dhl.com)</a>."
          },
          {
            "value": "DHL_HK",
            "description": "<a href=\"http://www.dhl.com.hk/\">DHL HonKong</a>."
          },
          {
            "value": "DHL_JP",
            "description": "<a href=\"https://mydhl.express.dhl\">DHL Japan</a>."
          },
          {
            "value": "DHL_PARCEL_ES",
            "description": "<a href=\"https://www.dhlparcel.es/en/private-customers.html\">DHL parcel Spain(www.dhl.com)</a>."
          },
          {
            "value": "DHL_PARCEL_NL",
            "description": "<a href=\"https://www.dhlparcel.nl/\">DHL Parcel NL</a>."
          },
          {
            "value": "DHL_PARCEL_RU",
            "description": "<a href=\"https://parcel4u-gm.xlogics.eu/XTrace/default.aspx\">DHL Parcel Russia</a>."
          },
          {
            "value": "DHL_PL",
            "description": "<a href=\"http://www.dhl.com.pl/\">DHL Poland</a>."
          },
          {
            "value": "DHL_REFR",
            "description": "<a href=\"https://www.dhl.com/\">DHl (Reference number)</a>."
          },
          {
            "value": "DHL_SG",
            "description": "<a href=\"https://mydhl.express.dhl\">dhl Singapore</a>."
          },
          {
            "value": "DHL_SUPPLY_CHAIN",
            "description": "<a href=\"https://mysctrackandtrace.dhl.com/\">DHL Supply Chain APAC</a>."
          },
          {
            "value": "DHL_UK",
            "description": "<a href=\"https://www.dhlparcel.co.uk/en/business-users.html\">dhl UK</a>."
          },
          {
            "value": "DIAMOND_EUROGISTICS",
            "description": "<a href=\"https://www.diamondeurogistics.co.uk/\">Diamond Eurogistics Limited</a>."
          },
          {
            "value": "DICOM",
            "description": "<a href=\"http://www.dicom.com/\">GLS Logistic Systems Canada Ltd./Dicom</a>."
          },
          {
            "value": "DIDADI",
            "description": "<a href=\"https://mydidadi.com/\">DIDADI Logistics tech</a>."
          },
          {
            "value": "DIMERCO",
            "description": "<a href=\"http://www.dimerco.com/\">Dimerco Express Group</a>."
          },
          {
            "value": "DIRECTCOURIERS",
            "description": "<a href=\"https://www.directcouriers.com.au/\">Direct Couriers</a>."
          },
          {
            "value": "DIRECTLOG",
            "description": "<a href=\"http://www.directlog.com.br/\">Directlog (www.directlog.com.br)</a>."
          },
          {
            "value": "DIRECTPARCELS",
            "description": "<a href=\"https://directparcels.co.uk/\">Direct Parcels</a>."
          },
          {
            "value": "DMM_NETWORK",
            "description": "<a href=\"http://www.dmmnetwork.it/\">DMM Network</a>."
          },
          {
            "value": "DMS_MATRIX",
            "description": "<a href=\"https://dmsmatrix.net/trackings/get_info\">DMSMatrix</a>."
          },
          {
            "value": "DOBROPOST",
            "description": "<a href=\"https://dobropost.com/\">DobroPost</a>."
          },
          {
            "value": "DOORA",
            "description": "<a href=\"https://www.doora.co.kr\">Doora Logistics</a>."
          },
          {
            "value": "DOORDASH_WEBHOOK",
            "description": "<a href=\"https://www.doordash.com/\">DoorDash</a>."
          },
          {
            "value": "DPD",
            "description": "<a href=\"https://www.dpd.com/\">DPD</a>."
          },
          {
            "value": "DPD_DELISTRACK",
            "description": "<a href=\"https://www.dpd.com/\">DPD delistrack</a>."
          },
          {
            "value": "DPD_FR",
            "description": "<a href=\"https://www.dpd.fr/\">DPD France</a>."
          },
          {
            "value": "DPD_HGRY",
            "description": "<a href=\"https://www.dpd.com/hu/hu/\">DPD Hungary</a>."
          },
          {
            "value": "DPD_HK",
            "description": "<a href=\"http://dpdgroup.cn\">DPD HongKong</a>."
          },
          {
            "value": "DPD_IR",
            "description": "<a href=\"https://www.dpd.ie/\">DPD Ireland</a>."
          },
          {
            "value": "DPD_LOCAL",
            "description": "<a href=\"https://www.dpdlocal.co.uk/\">DPD Local</a>."
          },
          {
            "value": "DPD_LOCAL_REF",
            "description": "<a href=\"https://www.interlinkexpress.com/\">DPD Local reference</a>."
          },
          {
            "value": "DPD_POLAND",
            "description": "<a href=\"https://www.dpd.com.pl/\">DPD Poland</a>."
          },
          {
            "value": "DPD_RO",
            "description": "<a href=\"https://www.dpd.com/ro_en\">DPD Romania</a>."
          },
          {
            "value": "DPD_RU",
            "description": "<a href=\"https://www.dpd.ru/\">DPD Russia</a>."
          },
          {
            "value": "DPEX",
            "description": "<a href=\"http://www.szdpex.com.cn\">DPEX (www.dpex.com)</a>."
          },
          {
            "value": "DPE_EXPRESS",
            "description": "<a href=\"http://www.dpe.net.cn\">DPE Express</a>."
          },
          {
            "value": "DPE_SOUTH_AFRC",
            "description": "<a href=\"http://www.dpe.co.za/\">DPE South Africa</a>."
          },
          {
            "value": "DSV",
            "description": "<a href=\"http://www.dsv.com/\">DSV courier</a>."
          },
          {
            "value": "DTDC_AU",
            "description": "<a href=\"https://www.dtdcaustralia.com.au/\">DTDC Australia</a>."
          },
          {
            "value": "DTDC_EXPRESS",
            "description": "<a href=\"https://www.dtdc.com\">DTDC express</a>."
          },
          {
            "value": "DTDC_IN",
            "description": "<a href=\"https://dtdc.in/\">DTDC India</a>."
          },
          {
            "value": "DTD_EXPR",
            "description": "<a href=\"http://dtddirect.com/\">DTD Express</a>."
          },
          {
            "value": "DX_SFTP",
            "description": "<a href=\"https://www.thedx.co.uk\">DX (SFTP)</a>."
          },
          {
            "value": "DYLT",
            "description": "<a href=\"http://www.dylt.com/\">Daylight Transport</a>."
          },
          {
            "value": "DYNALOGIC",
            "description": "<a href=\"https://www.dynalogic.nl/\">Dynamic Logistics</a>."
          },
          {
            "value": "EASY_MAIL",
            "description": "<a href=\"https://easy-mail.gr/\">Easy Mail</a>."
          },
          {
            "value": "ECEXPRESS",
            "description": "<a href=\"http://en.ecexpress.com.cn/\">ECexpress</a>."
          },
          {
            "value": "ECHO",
            "description": "<a href=\"https://echo.com/\">Echo courier</a>."
          },
          {
            "value": "ECMS",
            "description": "<a href=\"https://www.ecmsglobal.com\">ECMS International Logistics Co.</a>."
          },
          {
            "value": "ECOSCOOTING",
            "description": "<a href=\"https://www.ecoscooting.com/\">ECOSCOOTING</a>."
          },
          {
            "value": "EFEX",
            "description": "<a href=\"http://efex.jp/\">eFEx (E-Commerce Fulfillment & Express)</a>."
          },
          {
            "value": "EFS",
            "description": "<a href=\"http://efs.asia/script/users/main.php\">EFS (E-commerce Fulfillment Service)</a>."
          },
          {
            "value": "EKART",
            "description": "<a href=\"https://www.ekartlogistics.com/\">Ekart logistics (ekartlogistics.com)</a>."
          },
          {
            "value": "ELIAN_POST",
            "description": "<a href=\"http://www.elianpost.com/index.html\">Yilian (Elian) Supply Chain</a>."
          },
          {
            "value": "EMPS_CN",
            "description": "<a href=\"http://www.empsexpress.com/\">EMPS Express</a>."
          },
          {
            "value": "ENDEAVOUR_DELIVERY",
            "description": "<a href=\"https://endeavourdelivery.com.au/\">Endeavour Delivery</a>."
          },
          {
            "value": "ENVIALIA_REFERENCE",
            "description": "<a href=\"https://www.envialia.com/envialia-en/\">Envialia Reference</a>."
          },
          {
            "value": "EPARCEL_KR",
            "description": "<a href=\"https://eparcel.kr/\">eParcel Korea</a>."
          },
          {
            "value": "EPST_GLBL",
            "description": "ePost Global"
          },
          {
            "value": "EP_BOX",
            "description": "<a href=\"http://www.ep-box.com\">EP-Box courier</a>."
          },
          {
            "value": "ESHIPPING",
            "description": "<a href=\"https://www.eshippinggateway.com/uexpress/index.html\">Eshipping</a>."
          },
          {
            "value": "ESP_ASM",
            "description": "<a href=\"https://www.gls-spain.es/en/\">ASM(GLS Spain)</a>."
          },
          {
            "value": "ESP_ENVIALIA",
            "description": "<a href=\"https://www.envialia.com/\">Envialia</a>."
          },
          {
            "value": "ESP_MRW",
            "description": "<a href=\"https://www.mrw.es/\">MRW spain</a>."
          },
          {
            "value": "ESP_NACEX",
            "description": "<a href=\"https://www.nacex.es/irHome.do\">NACEX Spain</a>."
          },
          {
            "value": "ESP_PACKLINK",
            "description": "<a href=\"https://www.packlink.es/\">Packlink</a>."
          },
          {
            "value": "ESP_REDUR",
            "description": "<a href=\"https://www.redur.es/\">Redur Spain</a>."
          },
          {
            "value": "ETOMARS",
            "description": "<a href=\"https://www.etomars.com\">Etomars</a>."
          },
          {
            "value": "ETOTAL",
            "description": "<a href=\"http://www.e-total.com/\">eTotal Solution Limited</a>."
          },
          {
            "value": "ETS_EXPRESS",
            "description": "<a href=\"http://www.ets-express.com/\">RETS express</a>."
          },
          {
            "value": "EU_FLEET_SOLUTIONS",
            "description": "<a href=\"http://www.eufleetsolutions.co.uk/\">EU Fleet Solutions</a>."
          },
          {
            "value": "EU_IMX",
            "description": "<a href=\"http://www.imxmail.com/\">IMX Mail</a>."
          },
          {
            "value": "EXPRESSSALE",
            "description": "<a href=\"https://www.expressale.eu/\">Expresssale</a>."
          },
          {
            "value": "FARGOOD",
            "description": "<a href=\"http://www.fargoodexpress.com/\">FarGood</a>."
          },
          {
            "value": "FAR_INTERNATIONAL",
            "description": "<a href=\"http://www.far-group.com/index.aspx\">FAR international</a>."
          },
          {
            "value": "FASTRACK",
            "description": "<a href=\"https://fasttrack.com.ar/\">Fasttrack</a>."
          },
          {
            "value": "FASTRK_SERV",
            "description": "<a href=\"http://www.fastrak.co.th/\">Fastrak Services</a>."
          },
          {
            "value": "FASTWAY_IR",
            "description": "<a href=\"http://www.fastway.ie/\">Fastway Ireland</a>."
          },
          {
            "value": "FASTWAY_NZ",
            "description": "<a href=\"https://www.fastway.co.nz/\">Fastway New Zealand</a>."
          },
          {
            "value": "FDSEXPRESS",
            "description": "<a href=\"https://www.fdsexpress.com/\">FDSEXPRESS</a>."
          },
          {
            "value": "FEDEX",
            "description": "<a href=\"https://www.fedex.com/\">Fedex</a>."
          },
          {
            "value": "FEDEX_CROSSBORDER",
            "description": "<a href=\"https://crossborder.fedex.com/us/\">FedEx Cross Border</a>."
          },
          {
            "value": "FEDEX_FR",
            "description": "<a href=\"https://www.fedex.com/us/freight/\">FedEx® Freight</a>."
          },
          {
            "value": "FEDEX_INTL_MLSERV",
            "description": "<a href=\"http://mailviewrecipient.fedex.com/recip_package_summary.aspx\">FedEx International MailService</a>."
          },
          {
            "value": "FEDEX_POLAND",
            "description": "<a href=\"https://www.fedex.com/pl/\">FedEx® Poland Domestic</a>."
          },
          {
            "value": "FEDEX_UK",
            "description": "<a href=\"https://www.fedex.com/ukservices\">FedEx® UK</a>."
          },
          {
            "value": "FETCHR_WEBHOOK",
            "description": "<a href=\"https://fetchr.us/\">Mena 360 (Fetchr)</a>."
          },
          {
            "value": "FIEGE",
            "description": "<a href=\"https://www.fiege.com/\">Fiege Logistics</a>."
          },
          {
            "value": "FIEGE_NL",
            "description": "<a href=\"https://websped-netherlands.fiege.com/\">Fiege Netherlands</a>."
          },
          {
            "value": "FIRSTMILE",
            "description": "<a href=\"firstmile.com\">FirstMile</a>."
          },
          {
            "value": "FLASHEXPRESS",
            "description": "<a href=\"https://www.flashexpress.co.th/\">Flash Express</a>."
          },
          {
            "value": "FMX",
            "description": "<a href=\"http://www.freightmark.com.my/fmx/\">FMX</a>."
          },
          {
            "value": "FONSEN",
            "description": "<a href=\"https://portal.fonsenlogistics.com/\">Fonsen Logistics</a>."
          },
          {
            "value": "FORRUN",
            "description": "<a href=\"https://forrun.co/\">forrun Pvt Ltd (Arpatech Venture)</a>."
          },
          {
            "value": "FREIGHTQUOTE",
            "description": "<a href=\"https://www.freightquote.com/\">Freightquote by C.H. Robinson</a>."
          },
          {
            "value": "FRETERAPIDO",
            "description": "<a href=\"https://freterapido.com\">Frete Rapido</a>."
          },
          {
            "value": "FR_BERT",
            "description": "<a href=\"https://bert.fr/\">Bert Transport</a>."
          },
          {
            "value": "FR_COLIS",
            "description": "<a href=\"https://www.colissimo.fr\">Colissimo</a>."
          },
          {
            "value": "FR_EXAPAQ",
            "description": "<a href=\"https://www.dpd.fr/\">DPD France (formerly exapaq)</a>."
          },
          {
            "value": "FR_GEODIS",
            "description": "<a href=\"https://www.geodis.com/\">GEODIS - Distribution & Express</a>."
          },
          {
            "value": "FR_GLS",
            "description": "<a href=\"https://gls-group.eu/EU/en/home\">GLS france</a>."
          },
          {
            "value": "FULFILLA",
            "description": "<a href=\"https://fulfilla.net/\">Fulfilla</a>."
          },
          {
            "value": "FULFILLME",
            "description": "<a href=\"https://fulfillmen.com/\">Fulfillme</a>."
          },
          {
            "value": "FURDECO",
            "description": "<a href=\"https://furdeco.co.uk/\">Furdeco</a>."
          },
          {
            "value": "GAC",
            "description": "<a href=\"https://www.gac.com/\">GAC</a>."
          },
          {
            "value": "GANGBAO",
            "description": "<a href=\"http://gangbao.impotax.cn\">GANGBAO Supplychain</a>."
          },
          {
            "value": "GBA",
            "description": "<a href=\"https://www.gbaservices.com/\">GBA Services Ltd</a>."
          },
          {
            "value": "GBS_BROKER",
            "description": "<a href=\"https://gbs-broker.ru/\">GBS-Broker</a>."
          },
          {
            "value": "GB_APC",
            "description": "<a href=\"https://www.apc-pli.com/\">APC postal logistics germany</a>."
          },
          {
            "value": "GB_ARROW",
            "description": "<a href=\"https://www.arrowxl.co.uk/\">Arrow XL</a>."
          },
          {
            "value": "GB_NORSK",
            "description": "<a href=\"http://www.norsk-global.com/\">Norsk Global</a>."
          },
          {
            "value": "GB_PANTHER",
            "description": "<a href=\"http://www.pantherpremium.com/Tracking.aspx\">Panther</a>."
          },
          {
            "value": "GB_TUFFNELLS",
            "description": "<a href=\"http://www.tuffnells.co.uk/home\">Tuffnells Parcels Express</a>."
          },
          {
            "value": "GEIS",
            "description": "<a href=\"https://www.geis-group.cz/en\">Geis CZ</a>."
          },
          {
            "value": "GEL_EXPRESS",
            "description": "<a href=\"https://www.gel-express.de/\">Gel Express Logistik</a>."
          },
          {
            "value": "GEMWORLDWIDE",
            "description": "<a href=\"https://www.gemworldwide.com/\">GEM Worldwide</a>."
          },
          {
            "value": "GENERAL_OVERNIGHT",
            "description": "<a href=\"https://www.general-overnight.com/\">Go!Express and logistics</a>."
          },
          {
            "value": "GENIKI_GR",
            "description": "<a href=\"https://www.taxydromiki.gr/\">Geniki Taxydromiki</a>."
          },
          {
            "value": "GEODIS_ESPACE",
            "description": "<a href=\"https://www.geodis.com/\">Geodis E-space</a>."
          },
          {
            "value": "GESWL",
            "description": "<a href=\"https://www.geswl.com/home/en/index.asp\">GESWL Express</a>."
          },
          {
            "value": "GIAO_HANG",
            "description": "<a href=\"http://giaohangnhanh.vn/\">Giao hàng nhanh</a>."
          },
          {
            "value": "GIO_EXPRESS",
            "description": "<a href=\"https://www.gioexonline.com/clientportal\">Gio Express</a>."
          },
          {
            "value": "GLOBALTRANZ",
            "description": "<a href=\"www.globaltranz.com\">GlobalTranz</a>."
          },
          {
            "value": "GLOBAL_ABF",
            "description": "<a href=\"https://www.abfs.com/\">ABF Freight</a>."
          },
          {
            "value": "GLOBAL_ESTES",
            "description": "<a href=\"https://www.estes-express.com\">Estes Express Lines</a>."
          },
          {
            "value": "GLOBAL_EXPRESS",
            "description": "<a href=\"https://www.global-business.com.tw/\">Tai Wan Global Business</a>."
          },
          {
            "value": "GLOBAL_IPARCEL",
            "description": "<a href=\"https://www.i-parcel.com/\">i-parcel</a>."
          },
          {
            "value": "GLOBAL_TNT",
            "description": "<a href=\"http://www.tnt.com/\">TNT global</a>."
          },
          {
            "value": "GLOBAVEND",
            "description": "<a href=\"https://www.globavend.com/\">Globavend</a>."
          },
          {
            "value": "GLS_CROTIA",
            "description": "<a href=\"https://gls-group.eu/HR/hr/\">GLS Croatia</a>."
          },
          {
            "value": "GLS_CZ",
            "description": "<a href=\"https://gls-group.eu/CZ/en/home\">GLS Czech Republic</a>."
          },
          {
            "value": "GLS_IT",
            "description": "<a href=\"https://gls-group.com/IT/it/home\">GLS Italy</a>."
          },
          {
            "value": "GLS_ITALY",
            "description": "<a href=\"http://www.gls-italy.com/index_noreg.asp\">GLS Italy</a>."
          },
          {
            "value": "GLS_SLOV",
            "description": "<a href=\"https://gls-group.eu/SK/en/the-company\">GLS General Logistics Systems Slovakia s.r.o.</a>."
          },
          {
            "value": "GLS_SLOVEN",
            "description": "<a href=\"https://gls-group.eu/SI/en/home\">GLS Slovenia</a>."
          },
          {
            "value": "GOGLOBALPOST",
            "description": "<a href=\"https://www.goglobalpost.com/\">Global Post</a>."
          },
          {
            "value": "GOJEK",
            "description": "<a href=\"https://www.gojek.com/gosend/\">Gojek</a>."
          },
          {
            "value": "GRAB_WEBHOOK",
            "description": "<a href=\"https://www.grab.com/sg/\">Grab courier</a>."
          },
          {
            "value": "GRUPO",
            "description": "<a href=\"http://www.grupoampm.com/\">Grupo ampm</a>."
          },
          {
            "value": "GR_ELTA",
            "description": "<a href=\"https://www.elta.gr\">ELTA Hellenic Post</a>."
          },
          {
            "value": "GSI_EXPRESS",
            "description": "<a href=\"https://gsiexpress.com\">GSI EXPRESS</a>."
          },
          {
            "value": "GSO",
            "description": "<a href=\"https://www.gso.com/\">GSO(GLS-USA)</a>."
          },
          {
            "value": "HAPPY2POINT",
            "description": "Happy 2ThePoint"
          },
          {
            "value": "HCT_LOGISTICS",
            "description": "<a href=\"https://www.hct.com.tw/\">HCT LOGISTICS CO.LTD.</a>."
          },
          {
            "value": "HDB",
            "description": "<a href=\"https://www.haidaibao.com\">Haidaibao</a>."
          },
          {
            "value": "HDB_BOX",
            "description": "<a href=\"www.haidaibao.com\">Haidaibao (BOX)</a>."
          },
          {
            "value": "HELLMANN",
            "description": "<a href=\"https://www.hellmann.net/\">Hellmann Worldwide Logistics</a>."
          },
          {
            "value": "HELTHJEM",
            "description": "<a href=\"https://helthjem.no\">Helthjem</a>."
          },
          {
            "value": "HEPPNER",
            "description": "<a href=\"https://www.heppner.de/\">Heppner Internationale Spedition GmbH & Co.</a>."
          },
          {
            "value": "HEPPNER_FR",
            "description": "<a href=\"https://www.heppner.fr/\">Heppner France</a>."
          },
          {
            "value": "HERMES",
            "description": "<a href=\"https://www.hermesworld.com/en/\">HermesWorld UK</a>."
          },
          {
            "value": "HERMES_2MANN_HANDLING",
            "description": "<a href=\"https://www.hermesworld.com/de/unsere-dienstleistungen/distribution/2-mann-handling/2-mann-handling/\">Hermes Einrichtungs Service GmbH & Co. KG</a>."
          },
          {
            "value": "HERMES_DE",
            "description": "<a href=\"https://www.myhermes.de/wps/portal/paket/Home/privatkunden/home\">Hermes Germany</a>."
          },
          {
            "value": "HH_EXP",
            "description": "<a href=\"https://www.hh-exp.com/\">Hua Han Logistics</a>."
          },
          {
            "value": "HIPSHIPPER",
            "description": "<a href=\"https://www.hipshipper.com/\">Hipshipper</a>."
          },
          {
            "value": "HKD",
            "description": "<a href=\"http://www.hkdexpress.net/\">Qingdao HKD International Logistics</a>."
          },
          {
            "value": "HK_FLYT_EXPRESS",
            "description": "<a href=\"http://www.flytexpress.com/\">FLYT express</a>."
          },
          {
            "value": "HK_FOUR_PX_EXPRESS",
            "description": "<a href=\"https://www.4px.com\">4PX (fourPX)</a>."
          },
          {
            "value": "HK_POST",
            "description": "<a href=\"https://www.hongkongpost.hk/en/home/index.html\">Hongkong Post (www.hongkongpost.hk)</a>."
          },
          {
            "value": "HK_TGX",
            "description": "<a href=\"https://hk.kerryexpress.com/home\">Kerry Express Hong Kong</a>."
          },
          {
            "value": "HOLISOL",
            "description": "<a href=\"https://holisollogistics.com/\">Holisol</a>."
          },
          {
            "value": "HOME_DELIVERY_SOLUTIONS",
            "description": "<a href=\"https://www.homedeliverysolutions.co.uk/\">Home Delivery Solutions Ltd</a>."
          },
          {
            "value": "HOUNDEXPRESS",
            "description": "<a href=\"http://www.hound-express.com/index.html\">Hound Express</a>."
          },
          {
            "value": "HRPARCEL",
            "description": "<a href=\"https://www.hrparcel.com/\">HR Parcel</a>."
          },
          {
            "value": "HRV_HRVATSKA",
            "description": "<a href=\"https://www.posta.hr/\">Hrvatska posta</a>."
          },
          {
            "value": "HUAHAN_EXPRESS",
            "description": "<a href=\"http://www.hhjy56.cn/\">HUAHANG EXPRESS</a>."
          },
          {
            "value": "HUNTER_EXPRESS",
            "description": "<a href=\"http://www.hunterexpress.com.au/home\">Hunter Express</a>."
          },
          {
            "value": "HUODULL",
            "description": "<a href=\"http://www.huodull.com/index.html\">Huodull</a>."
          },
          {
            "value": "HX_EXPRESS",
            "description": "<a href=\"http://www.hx-ep.com/\">HX Express</a>."
          },
          {
            "value": "IBEONE",
            "description": "<a href=\"https://ibeone.com/\">Beone Logistics</a>."
          },
          {
            "value": "ICUMULUS",
            "description": "<a href=\"https://www.icumulus.com/\">iCumulus</a>."
          },
          {
            "value": "IDEXPRESS",
            "description": "<a href=\"http://www.idexpress.com.cn/\">IDEX courier</a>."
          },
          {
            "value": "IDN_JNE",
            "description": "<a href=\"https://www.jne.co.id/\">JNE Express (Jalur Nugraha Ekakurir)</a>."
          },
          {
            "value": "IDN_LION_PARCEL",
            "description": "<a href=\"http://www.lionexpress.co.id/\">Lion Parcel</a>."
          },
          {
            "value": "IDN_PANDU",
            "description": "<a href=\"https://pandulogistics.com/\">pandu Logistics (pandulogistics.com)</a>."
          },
          {
            "value": "IML",
            "description": "<a href=\"https://iml.ru/\">IML courier</a>."
          },
          {
            "value": "INDOPAKET",
            "description": "<a href=\"https://www.indopaket.co.id/\">INDOPAKET</a>."
          },
          {
            "value": "IND_BLUEDART",
            "description": "<a href=\"https://www.bluedart.com/\">Bluedart</a>."
          },
          {
            "value": "IND_DELHIVERY",
            "description": "<a href=\"https://www.delhivery.com/\">Delhivery India</a>."
          },
          {
            "value": "IND_DELIVREE",
            "description": "<a href=\"https://delivere.com.au/\">deliverE</a>."
          },
          {
            "value": "IND_DOTZOT",
            "description": "<a href=\"http://dotzot.in/\">Dotzot</a>."
          },
          {
            "value": "IND_ECOM",
            "description": "<a href=\"https://www.ecomexpress.in/\">Ecom Express</a>."
          },
          {
            "value": "IND_FIRSTFLIGHT",
            "description": "<a href=\"https://www.firstflight.net/\">First Flight Couriers</a>."
          },
          {
            "value": "IND_GATI",
            "description": "<a href=\"https://www.gatikwe.com/\">Gati-KWE</a>."
          },
          {
            "value": "IND_GOJAVAS",
            "description": "<a href=\"http://gojavas.com/\">GoJavas</a>."
          },
          {
            "value": "IND_PROFESSIONAL_COURIERS",
            "description": "<a href=\"https://tpcglobe.com/\">Professional Couriers</a>."
          },
          {
            "value": "IND_SAFEEXPRESS",
            "description": "<a href=\"http://www.safexpress.com/\">Safexpress</a>."
          },
          {
            "value": "IND_XPRESSBEES",
            "description": "<a href=\"https://www.xpressbees.com/\">Xpressbees (www.xpressbees.com)</a>."
          },
          {
            "value": "INPOST_PACZKOMATY",
            "description": "<a href=\"https://paczkomaty.pl\">InPost Paczkomaty</a>."
          },
          {
            "value": "INTEGRA2_FTP",
            "description": "<a href=\"https://www.integra2.es/en/home.html\">Integra2</a>."
          },
          {
            "value": "INTELIPOST",
            "description": "<a href=\"www.intelipost.com.br\">Intelipost (TMS for LATAM)</a>."
          },
          {
            "value": "INTEL_VALLEY",
            "description": "<a href=\"http://www.qhzhigu.com/cn/index.html\">Intel-Valley Supply chain (ShenZhen) Co. Ltd</a>."
          },
          {
            "value": "INTERPARCEL_AU",
            "description": "<a href=\"https://au.interparcel.com/\">Interparcel Australia</a>."
          },
          {
            "value": "INTERPARCEL_NZ",
            "description": "<a href=\"https://nz.interparcel.com\">Interparcel New Zealand</a>."
          },
          {
            "value": "INTERPARCEL_UK",
            "description": "<a href=\"https://uk.interparcel.com\">Interparcel UK</a>."
          },
          {
            "value": "INTEXPRESS",
            "description": "<a href=\"https://www.internetexpress.co.za\">Internet Express</a>."
          },
          {
            "value": "ISRAEL_POST",
            "description": "<a href=\"https://www.israelpost.co.il\">Israel Post</a>."
          },
          {
            "value": "ISR_POST_DOMESTIC",
            "description": "<a href=\"https://www.israelpost.co.il/\">Israel Post Domestic</a>."
          },
          {
            "value": "IT_DHL_ECOMMERCE",
            "description": "<a href=\"https://mydhl.express.dhl\">DHL International</a>."
          },
          {
            "value": "IT_FERCAM",
            "description": "<a href=\"https://www.fercam.com\">FERCAM Logistics & Transport</a>."
          },
          {
            "value": "IT_NEXIVE",
            "description": "<a href=\"https://www.nexive.it/\">Nexive (TNT Post Italy)</a>."
          },
          {
            "value": "IT_POSTE_ITALIA",
            "description": "<a href=\"https://www.poste.it/\">Poste italiane (www.poste.it)</a>."
          },
          {
            "value": "IT_TNT",
            "description": "<a href=\"https://www.tnt.it/\">TNT Italy</a>."
          },
          {
            "value": "IVOY_WEBHOOK",
            "description": "<a href=\"https://ivoy.mx/\">Ivoy courier</a>."
          },
          {
            "value": "I_DIKA",
            "description": "<a href=\"http://www.i-dika.com/\">i-dika</a>."
          },
          {
            "value": "JANCO",
            "description": "<a href=\"http://www.jancoecommerce.com\">Janco Ecommerce</a>."
          },
          {
            "value": "JANIO",
            "description": "<a href=\"https://www.janio.asia/\">Janio Asia</a>."
          },
          {
            "value": "JERSEY_POST",
            "description": "<a href=\"https://www.jerseypost.com/\">Jersey Post</a>."
          },
          {
            "value": "JET_SHIP",
            "description": "<a href=\"http://jet-ship.com/\">Jet-Ship Worldwide</a>."
          },
          {
            "value": "JINDOUYUN",
            "description": "<a href=\"http://www.szjdy.ltd/\">jindouyun courier</a>."
          },
          {
            "value": "JINSUNG",
            "description": "<a href=\"http://jinsung-trading.com\">JINSUNG TRADING</a>."
          },
          {
            "value": "JOCOM",
            "description": "<a href=\"https://www.jocom.my/\">Jocom</a>."
          },
          {
            "value": "JOOM_LOGIS",
            "description": "<a href=\"https://logistics.joom.com/en\">Joom Logistics</a>."
          },
          {
            "value": "JOYING_BOX",
            "description": "<a href=\"https://www.joyingbox.com/index.html\">Joying Box</a>."
          },
          {
            "value": "JPN_JAPAN_POST",
            "description": "<a href=\"https://www.post.japanpost.jp/top.html\">Japan Post</a>."
          },
          {
            "value": "JPN_SAGAWA",
            "description": "<a href=\"https://www.sagawa-exp.co.jp/\">Sagawa Express Japan</a>."
          },
          {
            "value": "JP_KURO_NEKO_YAMATO_UNYUU",
            "description": "<a href=\"https://www.kuronekoyamato.co.jp/en/\">Yamato transport (www.kuronekoyamato.co.jp)</a>."
          },
          {
            "value": "JS_EXPRESS",
            "description": "<a href=\"http://www.js-exp.com/\">JS EXPRESS</a>."
          },
          {
            "value": "JTEXPRESS",
            "description": "<a href=\"https://jtexpress.my/\">J&T EXPRESS MALAYSIA</a>."
          },
          {
            "value": "JTEXPRESS_VN",
            "description": "<a href=\"https://jtexpress.vn/\">J&T Express Vietnam</a>."
          },
          {
            "value": "JX",
            "description": "<a href=\"www.j-express.id\">JX courier</a>."
          },
          {
            "value": "J_NET",
            "description": "<a href=\"https://www.j-net.cn/cms\">J-Net</a>."
          },
          {
            "value": "K1_EXPRESS",
            "description": "<a href=\"http://www.kuajingyihao.com/\">K1 Express</a>."
          },
          {
            "value": "KANGAROO_MY",
            "description": "<a href=\"http://www.kangaroo.com.my/\">Kangaroo Worldwide Express</a>."
          },
          {
            "value": "KEC",
            "description": "<a href=\"https://kerry-ecommerce.com/\">KEC courier</a>."
          },
          {
            "value": "KERRYTJ",
            "description": "<a href=\"https://www.kerrytj.com/en/\">Kerry TJ Logistics</a>."
          },
          {
            "value": "KERRYTTC_VN",
            "description": "<a href=\"https://www.kerryexpress.com.vn/\">Kerry Express (Vietnam) Co Ltd</a>."
          },
          {
            "value": "KERRY_ECOMMERCE",
            "description": "<a href=\"https://kerry-ecommerce.com/\">Kerry eCommerce</a>."
          },
          {
            "value": "KGMHUB",
            "description": "<a href=\"https://www.kgmhub.com/\">KGM Hub</a>."
          },
          {
            "value": "KHM_CAMBODIA_POST",
            "description": "<a href=\"http://www.ems.com.kh/\">Cambodia Post</a>."
          },
          {
            "value": "KOR_ECARGO",
            "description": "<a href=\"http://ecargo.asia/\">Ecargo</a>."
          },
          {
            "value": "KPOST",
            "description": "<a href=\"https://www.koreapost.go.kr\">Korea Post</a>."
          },
          {
            "value": "KR_KOREA_POST",
            "description": "<a href=\"https://www.koreapost.go.kr\">Koreapost (www.koreapost.go.kr)</a>."
          },
          {
            "value": "KUEHNE",
            "description": "<a href=\"https://www.kn-portal.com/\">Kuehne + Nagel</a>."
          },
          {
            "value": "KURASI",
            "description": "<a href=\"https://www.kurasi.co.id/\">KURASI</a>."
          },
          {
            "value": "KWE_GLOBAL",
            "description": "<a href=\"https://www.kwe.com\">KWE Global</a>."
          },
          {
            "value": "KWT",
            "description": "<a href=\"http://www.kwt56.com/\">Shenzhen Jinghuada Logistics Co.</a>."
          },
          {
            "value": "KYUNGDONG_PARCEL",
            "description": "<a href=\"https://kdexp.com/main.kd\">Kyungdong Parcel</a>."
          },
          {
            "value": "KY_EXPRESS",
            "description": "<a href=\"https://www.ky-express.com/\">Kua Yue Express</a>."
          },
          {
            "value": "LALAMOVE",
            "description": "<a href=\"https://lalamove.com\">Lalamove</a>."
          },
          {
            "value": "LANDMARK_GLOBAL",
            "description": "<a href=\"http://landmarkglobal.com/\">Landmark Global</a>."
          },
          {
            "value": "LANDMARK_GLOBAL_REFERENCE",
            "description": "<a href=\"https://landmarkglobal.com\">Landmark Global Reference</a>."
          },
          {
            "value": "LATVIJAS_PASTS",
            "description": "<a href=\"https://www.pasts.lv/\">Latvijas Pasts</a>."
          },
          {
            "value": "LA_POSTE_SUIVI",
            "description": "<a href=\"http://www.csuivi.courrier.laposte.fr\">La Poste</a>."
          },
          {
            "value": "LBCEXPRESS_FTP",
            "description": "<a href=\"https://www.lbcexpress.com/\">LBC EXPRESS INC.</a>."
          },
          {
            "value": "LEADER",
            "description": "<a href=\"http://www.leader609.com/\">leader</a>."
          },
          {
            "value": "LEGION_EXPRESS",
            "description": "<a href=\"https://legionexp.com/\">Legion Express</a>."
          },
          {
            "value": "LEXSHIP",
            "description": "<a href=\"https://www.lexship.com/\">LexShip</a>."
          },
          {
            "value": "LHT_EXPRESS",
            "description": "<a href=\"http://www.lht-express.com/\">LHT Express</a>."
          },
          {
            "value": "LICCARDI_EXPRESS",
            "description": "<a href=\"https://www.liccarditrasporti.com/\">LICCARDI EXPRESS COURIER</a>."
          },
          {
            "value": "LIEFERY",
            "description": "<a href=\"https://www.liefery.com\">liefery</a>."
          },
          {
            "value": "LINE",
            "description": "<a href=\"https://www.lineclearexpress.com\">Line Clear Express & Logistics Sdn Bhd</a>."
          },
          {
            "value": "LINKBRIDGE",
            "description": "<a href=\"http://www.link-bridge.com.cn\">Link Bridge(BeiJing)international logistics co.</a>."
          },
          {
            "value": "LOCUS_WEBHOOK",
            "description": "<a href=\"https://www.locus.sh/\">Locus courier</a>."
          },
          {
            "value": "LOGISTERS",
            "description": "<a href=\"http://www.logisters.com/\">Logisters</a>."
          },
          {
            "value": "LOGISTICSWORLDWIDE_HK",
            "description": "<a href=\"https://www.lwe.com.hk/\">Logistic Worldwide Express (LWE Honkong)</a>."
          },
          {
            "value": "LOGISTIKA",
            "description": "<a href=\"https://logistika.com.my/\">Logistika</a>."
          },
          {
            "value": "LOGISTYX_TRANSGROUP",
            "description": "<a href=\"www.transgroup.com\">Transgroup courier</a>."
          },
          {
            "value": "LONESTAR",
            "description": "<a href=\"https://www.lso.com/\">Lone Star Overnight</a>."
          },
          {
            "value": "LOOMIS_EXPRESS",
            "description": "<a href=\"https://www.loomisexpress.com/loomship/en/Home/Home\">Loomis Express</a>."
          },
          {
            "value": "LOTTE",
            "description": "<a href=\"https://www.lotteglogis.com/\">Lotte Global Logistics</a>."
          },
          {
            "value": "LTIANEXP",
            "description": "<a href=\"http://www.ltianexp.com/home\">LTIAN EXP</a>."
          },
          {
            "value": "LTL",
            "description": "<a href=\"https://ltl.kr\">LTL COURIER</a>."
          },
          {
            "value": "LTU_LIETUVOS",
            "description": "<a href=\"https://www.post.lt/\">Lietuvos pastas</a>."
          },
          {
            "value": "MAGYAR_HU",
            "description": "<a href=\"https://www.posta.hu\">Magyar Post</a>."
          },
          {
            "value": "MAILAMERICAS",
            "description": "<a href=\"https://mailamericas.com/\">MailAmericas</a>."
          },
          {
            "value": "MAILPLUS_JPN",
            "description": "<a href=\"https://www.nittsu.com/epelicangen2/track/Track.aspx\">MailPlus (Japan)</a>."
          },
          {
            "value": "MAIL_PLUS",
            "description": "<a href=\"https://www.nittsu.com/epelicangen2/track/Track.aspx\">MailPlus</a>."
          },
          {
            "value": "MAINFREIGHT",
            "description": "<a href=\"https://www.mainfreight.com\">Mainfreight</a>."
          },
          {
            "value": "MAINWAY",
            "description": "<a href=\"https://www.mainwaylogistics.com/\">Mainway</a>."
          },
          {
            "value": "MATDESPATCH",
            "description": "<a href=\"https://www.matdespatch.com/\">Matdespatch</a>."
          },
          {
            "value": "MATKAHUOLTO",
            "description": "<a href=\"https://www.matkahuolto.fi/\">Matkahuolto</a>."
          },
          {
            "value": "MBW",
            "description": "<a href=\"www.mbwcourier.ca\">MBW Courier Inc.</a>."
          },
          {
            "value": "MEX_AEROFLASH",
            "description": "<a href=\"https://www.aeroflash.com.mx/\">Aeroflash Mexico</a>."
          },
          {
            "value": "MEX_ESTAFETA",
            "description": "<a href=\"https://www.estafeta.com/default.aspx\">Estafeta (www.estafeta.com)</a>."
          },
          {
            "value": "MEX_REDPACK",
            "description": "<a href=\"https://www.redpack.com.mx/\">Redpack</a>."
          },
          {
            "value": "MEX_SENDA",
            "description": "<a href=\"http://www.sendaexpress.com.mx/\">mexico senda express</a>."
          },
          {
            "value": "MGLOBAL",
            "description": "<a href=\"http://www.mglobalgroup.co.id/\">PT MGLOBAL LOGISTICS INDONESIA</a>."
          },
          {
            "value": "MIKROPAKKET",
            "description": "<a href=\"https://www.mikropakket.nl/\">Mikropakket</a>."
          },
          {
            "value": "MIKROPAKKET_BE",
            "description": "<a href=\"https://www.mikropakket.be/\">Mikropakket Belgium</a>."
          },
          {
            "value": "MILKMAN",
            "description": "<a href=\"https://milkman.it/#/en/home\">Milkman courier</a>."
          },
          {
            "value": "MORE_LINK",
            "description": "<a href=\"https://client.morelink56.com/\">Morelink</a>."
          },
          {
            "value": "MORNING_EXPRESS",
            "description": "<a href=\"https://www.mechk.com/\">Morning Express</a>."
          },
          {
            "value": "MRW_FTP",
            "description": "<a href=\"https://www.mrw.es/\">MRW courier</a>."
          },
          {
            "value": "MXE",
            "description": "<a href=\"http://www.mxe56.com\">MXE Express</a>."
          },
          {
            "value": "MX_CARGO",
            "description": "<a href=\"http://www.mx-56.com/en/\">M&X cargo</a>."
          },
          {
            "value": "MYHERMES",
            "description": "<a href=\"https://www.myhermes.co.uk/\">MyHermes UK</a>."
          },
          {
            "value": "MYS_AIRPAK",
            "description": "<a href=\"http://www.airpak-express.com\">Airpak Express</a>."
          },
          {
            "value": "MYS_EMS",
            "description": "<a href=\"http://www.poslaju.com.my/\">Malaysia Post EMS / Pos Laju</a>."
          },
          {
            "value": "MYS_GDEX",
            "description": "<a href=\"http://www.gdexpress.com\">GDEX courier</a>."
          },
          {
            "value": "MYS_MYPOST_ONLINE",
            "description": "<a href=\"http://qsm.mypostonline.com.cn/index.php\">Mypostonline</a>."
          },
          {
            "value": "MYS_MYS_POST",
            "description": "<a href=\"https://www.pos.com.my\">Malaysia Post</a>."
          },
          {
            "value": "MYS_SKYNET",
            "description": "<a href=\"https://www.skynet.com.my/\">Skynet Malaysia</a>."
          },
          {
            "value": "M_XPRESS",
            "description": "<a href=\"https://www.mxpress2u.com\">M Xpress Sdn Bhd</a>."
          },
          {
            "value": "NACEX",
            "description": "<a href=\"http://nacex.es/\">NACEX</a>."
          },
          {
            "value": "NACEX_ES",
            "description": "<a href=\"http://nacex.es/\">NACEX Spain</a>."
          },
          {
            "value": "NANJINGWOYUAN",
            "description": "<a href=\"http://www.nanjingwoyuan.com/\">Nanjing Woyuan</a>."
          },
          {
            "value": "NATIONAL_SAMEDAY",
            "description": "<a href=\"www.nationalsameday.com\">National Sameday</a>."
          },
          {
            "value": "NATIONEX",
            "description": "<a href=\"https://www.nationex.com/\">Nationex courier</a>."
          },
          {
            "value": "NATIONWIDE_MY",
            "description": "<a href=\"https://www.nationwide2u.com\">Nationwide Express Courier Services Bhd (www.nationwide.com.my)</a>."
          },
          {
            "value": "NEWAY",
            "description": "<a href=\"https://www.newaytransport.com/\">Neway Transport</a>."
          },
          {
            "value": "NEWEGGEXPRESS",
            "description": "<a href=\"https://www.neweggexpress.com/\">Newegg Express</a>."
          },
          {
            "value": "NEWGISTICS",
            "description": "<a href=\"https://www.newgistics.com/\">Newgistics</a>."
          },
          {
            "value": "NEWZEALAND_COURIERS",
            "description": "<a href=\"https://www.nzcouriers.co.nz/\">NEW ZEALAND COURIERS</a>."
          },
          {
            "value": "NG_COURIERPLUS",
            "description": "<a href=\"http://www.courierplus-ng.com/\">Courier Plus</a>."
          },
          {
            "value": "NHANS_SOLUTIONS",
            "description": "<a href=\"http://nhans-solutions.com/\">Nhans Solutions</a>."
          },
          {
            "value": "NIM_EXPRESS",
            "description": "<a href=\"https://www.nimexpress.com\">Nim Express</a>."
          },
          {
            "value": "NINJAVAN_MY",
            "description": "<a href=\"http://ninjavan.my\">ninja van (www.ninjavan.co)</a>."
          },
          {
            "value": "NINJAVAN_SG",
            "description": "<a href=\"http://ninjavan.sg/\">Ninja van Singapore</a>."
          },
          {
            "value": "NINJAVAN_THAI",
            "description": "<a href=\"https://www.ninjavan.co/th-th\">Ninja van Thai</a>."
          },
          {
            "value": "NINJAVAN_WB",
            "description": "<a href=\"https://www.ninjavan.co/en-sg\">Ninjavan Webhook</a>."
          },
          {
            "value": "NIPOST_NG",
            "description": "<a href=\"http://www.emsng.com/\">NIpost (www.nipost.gov.ng)</a>."
          },
          {
            "value": "NLD_DHL",
            "description": "<a href=\"http://www.dhl.nl/\">DHL Netherland</a>."
          },
          {
            "value": "NLD_GLS",
            "description": "<a href=\"https://www.gls-netherlands.com/\">GLS Netherland</a>."
          },
          {
            "value": "NLD_POSTNL",
            "description": "<a href=\"https://www.postnl.nl/klantenservice\">PostNL International</a>."
          },
          {
            "value": "NLD_TRANSMISSION",
            "description": "<a href=\"https://www.trans-mission.nl/\">TransMission</a>."
          },
          {
            "value": "NOVA_POSHTA",
            "description": "<a href=\"https://novaposhta.ua/\">Nova Poshta (novaposhta.ua)</a>."
          },
          {
            "value": "NOVA_POSHTA_INT",
            "description": "<a href=\"https://novaposhta.ua/\">Nova Poshta (International)</a>."
          },
          {
            "value": "NOX_NACHTEXPRESS",
            "description": "<a href=\"https://www.nox-nachtexpress.de/\">Innight Express Germany GmbH (nox NachtExpress)</a>."
          },
          {
            "value": "NOX_NIGHT_TIME_EXPRESS",
            "description": "<a href=\"https://www.nox-nighttimeexpress.com\">NOX NightTimeExpress</a>."
          },
          {
            "value": "NTLOGISTICS_VN",
            "description": "<a href=\"https://www.ntlogistics.vn/\">Nhat Tin Logistics</a>."
          },
          {
            "value": "NZ_COURIER_POST",
            "description": "<a href=\"https://www.courierpost.co.nz/\">CourierPost Newsland</a>."
          },
          {
            "value": "NZ_NZ_POST",
            "description": "<a href=\"https://www.nzpost.co.nz/\">New Zealand Post</a>."
          },
          {
            "value": "OCS",
            "description": "<a href=\"http://ocs-india.in/eng/\">OCS ANA Group</a>."
          },
          {
            "value": "OCS_WORLDWIDE",
            "description": "<a href=\"https://www.ocsworldwide.co.uk\">OCS WORLDWIDE</a>."
          },
          {
            "value": "OKAYPARCEL",
            "description": "<a href=\"http://www.okayparcel.com/\">OkayParcel</a>."
          },
          {
            "value": "OMNIPARCEL",
            "description": "<a href=\"http://track.omniparcel.com/\">Omni Parcel</a>."
          },
          {
            "value": "OMNIVA",
            "description": "<a href=\"https://www.omniva.ee/eng\">Omniva</a>."
          },
          {
            "value": "ONECLICK",
            "description": "<a href=\"http://www.1click2deliver.com/\">One click delivery services</a>."
          },
          {
            "value": "ONEWORLDEXPRESS",
            "description": "<a href=\"https://www.oneworldexpress.com\">One World Express</a>."
          },
          {
            "value": "ORANGE_DS",
            "description": "<a href=\"https://orangedsinc.com/\">OrangeDS (Orange Distribution Solutions Inc)</a>."
          },
          {
            "value": "OSM_WORLDWIDE",
            "description": "<a href=\"https://www.osmworldwide.com/\">OSM Worldwide</a>."
          },
          {
            "value": "OVERSE_EXP",
            "description": "<a href=\"https://overseas.hr/\">Overseas Express</a>."
          },
          {
            "value": "P2P_TRC",
            "description": "<a href=\"https://www.trackmytrakpak.com/\">P2P TrakPak</a>."
          },
          {
            "value": "PAACK_WEBHOOK",
            "description": "<a href=\"https://paack.co/\">Paack courier</a>."
          },
          {
            "value": "PADTF",
            "description": "<a href=\"https://www.padtf.com/\">padtf.com</a>."
          },
          {
            "value": "PAGO",
            "description": "<a href=\"http://www.szpago.com/\">Pago Logistics</a>."
          },
          {
            "value": "PALEXPRESS",
            "description": "<a href=\"https://www.pacificair.hk/\">PAL Express Limited</a>."
          },
          {
            "value": "PALLETWAYS",
            "description": "<a href=\"https://www.palletways.com/\">Palletways</a>."
          },
          {
            "value": "PALLET_NETWORK",
            "description": "<a href=\"https://www.thepalletnetworkltd.co.uk/\">The Pallet Network</a>."
          },
          {
            "value": "PANTHER_REFERENCE",
            "description": "<a href=\"http://www.pantherpremium.com/\">Panther Reference</a>."
          },
          {
            "value": "PAN_ASIA",
            "description": "<a href=\"http://www.panasiachina.com\">Pan-Asia International</a>."
          },
          {
            "value": "PAPERFLY",
            "description": "<a href=\"https://paperfly.com.bd/\">Paperfly Private Limited</a>."
          },
          {
            "value": "PAPER_EXPRESS",
            "description": "<a href=\"https://www.paper-express.nl/\">Paper Express</a>."
          },
          {
            "value": "PAQUETEXPRESS",
            "description": "<a href=\"https://www.paquetexpress.com.mx/\">Paquetexpress</a>."
          },
          {
            "value": "PARCEL2GO",
            "description": "<a href=\"https://www.parcel2go.com\">Parcel2Go</a>."
          },
          {
            "value": "PARCELINKLOGISTICS",
            "description": "<a href=\"https://www.parcelinklogistics.co.uk/\">Parcelink Logistics</a>."
          },
          {
            "value": "PARCELLED_IN",
            "description": "<a href=\"http://parcelled.in/\">Parcelled.in</a>."
          },
          {
            "value": "PARCELONE",
            "description": "<a href=\"https://parcel.one/\">PARCEL ONE</a>."
          },
          {
            "value": "PARCELPAL_WEBHOOK",
            "description": "<a href=\"https://www.parcelpal.com/\">ParcelPal</a>."
          },
          {
            "value": "PARCELPOINT",
            "description": "<a href=\"https://parcelpoint.com.au\">Parcelpoint</a>."
          },
          {
            "value": "PARCELPOST_SG",
            "description": "<a href=\"https://www.parcelpost.com.sg/\">Parcel Post Singapore</a>."
          },
          {
            "value": "PARCEL_2_POST",
            "description": "<a href=\"http://parceltopost.com/\">Parcel To Post</a>."
          },
          {
            "value": "PARKNPARCEL",
            "description": "<a href=\"https://delivery.parknparcel.com/\">Park N Parcel</a>."
          },
          {
            "value": "PCFCORP",
            "description": "<a href=\"https://pcfcorp.com/\">PCF Final Mile</a>."
          },
          {
            "value": "PFCEXPRESS",
            "description": "<a href=\"http://www.pfcexpress.com/\">PFC Express</a>."
          },
          {
            "value": "PFLOGISTICS",
            "description": "<a href=\"http://www.pflogistics.com.au/\">PFL</a>."
          },
          {
            "value": "PHL_AIR21",
            "description": "<a href=\"https://www.air21.com.ph\">AIR21 courier</a>."
          },
          {
            "value": "PHL_AIRSPEED",
            "description": "<a href=\"http://www.airspeed.com.ph/aic/\">Airspeed International</a>."
          },
          {
            "value": "PHL_JAMEXPRESS",
            "description": "<a href=\"http://www.myjamexpress.com/\">Jam Express Philippines</a>."
          },
          {
            "value": "PICKRR",
            "description": "<a href=\"https://www.pickrr.com/\">Pickrr</a>."
          },
          {
            "value": "PICKUP",
            "description": "<a href=\"https://www.hkpickup.com\">Pickupp</a>."
          },
          {
            "value": "PICKUPP_MYS",
            "description": "<a href=\"https://my.pickupp.io/\">PICK UPP</a>."
          },
          {
            "value": "PICKUPP_SGP",
            "description": "<a href=\"https://sg.pickupp.io/\">PICK UPP (Singapore)</a>."
          },
          {
            "value": "PILOT_FREIGHT",
            "description": "<a href=\"http://www.pilotdelivers.com/\">Pilot Freight Services</a>."
          },
          {
            "value": "PIL_LOGISTICS",
            "description": "<a href=\"https://www.pillogistics.com/\">PIL Logistics (China) Co.</a>."
          },
          {
            "value": "PITNEY_BOWES",
[...]
